* {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

img {
    vertical-align: top;
    border: none
}

.ell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.car-detail-wrapper {
    width: 100%;
    height: 100%;
}

.car-info .car-title {
    margin: 0 auto;
    width: 96%;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

.car-info .car-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-info .msg-left {
    flex: 0 0 75%;
    display: flex;
}

.car-info .msg-btn {
    display: flex;
    flex: 0 0 25%;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.car-info .msg-btn .btn {
    margin-top: 30px;
    display: inline-block;
    width: 90px;
    height: 34px;
    /*line-height: 34px;*/
    text-align: center;
    border-radius: 16px;
    font-size: 14px;
    color: #fff;
    background-color: #4685f7;
}

.car-info .msg-left > div {
    padding-left: 40px;
    margin-top: 30px;
    width: 100%;
    flex: 1;
    font-size: 14px;
    align-items: center;
    box-sizing: border-box;
    color: #666;
}

.car-info .msg-left > div:last-child {
    border-right: 1px solid #eee;
}

.car-info .msg-left > div li {
    line-height: 28px;
}

.travel-info {
    padding-top: 20px;
}

.travel-info .travel-content {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}

.travel-content .travel-img {
    padding: 20px 0;
    flex: 0 0 30%;
    display: flex;
    width: 100;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.travel-img .icon {
    flex: 0 0 30%;
    text-align: center;
}

.travel-img ul {
    flex: 0 0 70%;
    text-align: left;
    font-size: 14px;
    color: #666;
    line-height: 26px;
}

.travel-content .travel-detail {
    padding: 20px 0;
    flex: 0 0 69%;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    background-color: #fff;
}

.travel-detail .title {
    font-size: 14px;
}

.travel-detail ul {
    margin-left: 20px;
}

.travel-detail ul li {
    position: relative;
    line-height: 22px;
    color: #999;
}

.travel-detail ul .time,
.travel-detail ul .place {
    color: #666;
    margin: 0 10px;
}

.travel-detail ul .time {
    position: relative;
}

.travel-detail ul .time::before {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #4685f7;
}

.travel-detail ul .time::after {
    position: absolute;
    content: "";
    left: -11px;
    top: 80%;
    width: 1px;
    height: 12px;
    background-color: #ccc;
}

.travel-detail ul li:last-child .time::after {
    display: none;
}

.travel-detail ul li:last-child .time::before {
    background-color: #ef841e;
}

.money-info {
    padding-bottom: 15px;
    background-color: #eee;
}

.money-info-content {
    background-color: #fff;
}

.money-info-content .title {
    padding-left: 30px;
    line-height: 42px;
    font-size: 14px;
}

.money-info-content ul {
    display: flex;
    align-items: center;
}

.money-info-content .col-1 {
    flex: 0 0 7.7%;
}

.money-info-content .col-2 {
    flex: 0 0 11.5%;
}

.money-info-content .col-4 {
    flex: 0 0 23%;
}

.title-box {
    width: 96%;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin: 0 auto;
    background-color: #eee;
}

.title-box ul {
    align-items: center;
    height: 42px;
}

.money-box {
    padding: 15px 0;
    width: 96%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
}

.money-box .money {
    color: red;
}

.money-box .col-4 {
    padding-left: 40px;
    text-align: left;
    font-size: 12px;
}

.money-box .col-4 span {
    color: red;
}

.provider-info .title {
    margin: 0 auto;
    width: 96%;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.provider-info .detail {
    margin: 0 auto;
    width: 96%;
    height: 46px;
    font-size: 14px;
    color: #666;
    line-height: 46px;
}

.provider-info .detail .right {
    margin-left: 50px;
}