/*
* 2010-07-12 v1.0
* 2010-07-21 v1.1 添加block元素居中之auto属性，增加鼠标手形样式
* 2010-09-17 v1.2 添加z-index层级属性
* 2010-09-29 v1.3 添加break-word属性
* 2010-11-12 v1.4 添加white-space:nowrap;值，去掉Georgia字体
* 2011-01-17 v1.5 去除red颜色，添加cell双栏自适应属性，z样式影响扩至IE7，样式位置以及顺序调整，dib样式忽略Firefox 2，去除Lucida Console字体，添加Verdana字体，添加letter-spacing样式
* 2011-07-28 v1.6 增加vertical-align:bottom属性，增加点点点效果多样
* 2012-01-18 v1.7 点点点效果样式去除-moz-前缀，多余；增加修复cell下连续单词字符换行问题；去除.ovs{overflow:scroll;}
                  去除.vimg{margin-bottom:-3px;}
* 2013-05-24 v2.0 为开源到github上做大改
                  1. 增加margin负值范围
                  2. margin/padding增加15px/30px组
                  3. 中文字体改成英文字符表示，例如“微软雅黑” → "microsoft yahei"
                  4. 新增border系列, background-color系列, width(fixed value/percent value)系列以及.ell以下所有样式
* 2013-07-31 v2.1 inline_any等12px字体大小限制去除，inline_box的-3px间距缩进改成-.25em, 以便适应各种字体大小环境
* 2013-09-13 v2.2 12px字体大小限制修改为1px笔误了，应该为1em, 删除-ms-transition
* 2013-10-11 v2.3 float_seven一直没删除，清掉。增加两个绝对定位隐藏：abs_out和abs_clip
* 2013-11-23 v2.4 add p0, ova, f18. 去除trans中-moz-和-o-私有前缀
* 2014-02-26 v2.5 fix two name mistake
* 2014-02-27 v2.6 add fl
* 2015-02-08 v2.7 具体改动有：
                  1. 添加h0
                  2. 修改 .vn -2px → -4px
                  3. zoom增加webkit重绘修复
                  4. 去除.trans非webkit私有前缀
                  5. loading背景图使用about:blank代替
* 2015-02-09 v2.8 具体改动有：
                  1. 添加.lh0
                  2. 移除.f10, .f13, 添加f28，因为现代web站点字号越来越大
                  3. .n添加white-space: normal声明
                  4. 移除.vn使用具体负值代替，因为图标+不同字号，vertical-align的负值也不同，新增.v-1 ~ .v-5 按钮与文字的垂直对齐也可使用，兼容IE6+
                  5. 移除.z中-webkit-transform: translateZ(0)此声明虽然能修复一些重绘问题，但同时也会带来垂直位置，position:fixed限制，影响overflow对absolute元素限制等一系列问题，移除之~
                  6. 移除cell_bk, 若遭遇不换行问题，使用.cell_ovh代替~
                  7. .trans中时间0.3s → .3s
                  8. .disabled禁用大改造，使适用性更广泛
                  9. 增加.opa0 透明度0
                  10. float percent more accurate for IE8+
* 2016-03-25 v2.9 本次改动有：
                  1. fix w300宽度值为280px的错误
                  2. dib增加div,p等标签的IE7特别处理，之前建议使用inline_any
                  3. add h30, lh30，因为随着大屏普及，页面元素尺寸更大了
                  4. transition时间从.3s → .15s
                  5. pointer-events增加-ms-私有前缀for IE10+
*/
/*---------------------reset CSS-----------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus, input, button, select, textarea {
    outline: 0;
}

body {
    /*line-height: 1;*/
    color: #3e3a39;
    background: white;
}

ol, ul, li {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

textarea {
    resize: none; /*必须添加overflow此属性才能生效*/
    overflow: auto;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a, a:hover.a:link, a:visited, a:active {
    text-decoration: none;
}

/* float */
.l {
    float: left;
}

.r {
    float: right;
}

/* opacity */
.opa0 {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* zoom */
.z {
    *zoom: 1;
}

/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto {
    margin-left: auto;
    margin-right: auto;
}

/* 清除浮动*/
.fix {
    *zoom: 1;
}

.fix:after {
    display: table;
    content: '';
    clear: both;
}

/* 单行文字溢出虚点显 示*/
.ell {
    text-overflow: ellipsis; /*//文本超出...*/
    white-space: nowrap;/*//忽略文本空白*/
    overflow: hidden;/*//超出隐藏*/
}

/* css3过渡动画效果 */
.trans {
    -webkit-transition: all .15s;
    transition: all .15s;
}

/* 按钮禁用 */
.disabled {
    outline: 0 none;
    cursor: default !important;
    opacity: .4;
    filter: alpha(opacity=40);
    -ms-pointer-events: none;
    pointer-events: none;
}




/*==== common   ==*/

html{
    height: 100%;
    min-height: 600px;
}

body{
    height: 100%;
    font-size: 14px;
}

.wrap{
    height: 100%;
}

