/*select*/

/* li {
    position: relative;
    display: block;
    border: 1px solid #dbdcdc;
    border--bottom: 0px;
} */

.content > .sel {
    font-size: 14px;
    color: #3e3a39;
    font-weight: normal;
    /* width: 900px; */
    /*height: 160px;*/
    border: 1px solid #dbdcdc;
    padding: 20px 30px;
    margin-bottom: 20px;
}
#sel1,#sel2{
    margin-bottom: 16px;
}
.sel input {
    height: 26px;
}
.sel label{
    display: inline-block;
    width: 70px;
}
.sel span {
    padding: 8px 10px;
    cursor: pointer;
}

.sel span:hover {
    color: white;
    background-color: #46a1bb;
}

.selected {
    color: white;
    background-color: #46a1bb;
}

a {
    color: inherit;
}

#sel1>label{
    display: inline;
}
.sel .button {
    display: inline-block;
    background-color: #46a1bb;
    color: white;
    width: 70px;
    text-align: center;
    margin-left: 0;
    border-radius: 2px;
}

.checkButton {
    display: inline-block;
    background-color: #46a1bb;
    color: white;
    width: 70px;
    text-align: center;
    margin-left: 0;
    border-radius: 2px;
}
.checkButton:hover{
    background-color: #0d809b  ;
}


.sel .button:hover{
    background-color: #0d809b  ;
}

/*表格*/
/* .tipL{
    padding-left:30px;
}

.tipR{
    padding-right:30px;
} */

.orderTable th {
    height: 40px;
    /* vertical-align: middle; */
    text-align: center;
    /* background-color: #eee; */
    border: 1px solid #DDDDDD;
    /* background-color:#C6C6C6; */
    background-color:#CBCBCB;
}

.orderTable tr:hover {
    background-color: #f7f7f7;
}

.orderTable tr:hover  .showItem{
    background-color: #f7f7f7;
}

.orderTable > tbody > tr > td {
    height: 30px;
    text-align: left;
    vertical-align: middle;
    /* border-bottom: 1px solid #f7f7f7; */
    border: 1px solid #DDDDDD;
    word-wrap: break-word;
}

td,th
{
    /*white-space: nowrap;*/
    padding: 0 20px;
}

.date {
    width: 75px;
}

.drop_div{
    width: 70px;
}



.lastTd{
    padding-right: 30px;
    position: relative;
}

.drop_ul {
    width: 70px;
    position: absolute;
    top:17px;
    background-color: #FFFFFF;
    /*height: 80px;*/
}


.drop_ul1{
    z-index: 999;
}


.drop_li {
    display: inline-block;
    width: 62px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.drop_li:hover {
    background-color: #46a1bb;
    border-color: #46a1bb;
    color: #fff;
}


.drop_ul:hover
{
    border: 1px solid #bbb;
}

.showItem{
    background: url('../../common/images/downGray.png') no-repeat 50px center;
}

.showItem:hover{
    background-color: #1176CC!important;
    background: url('../../common/images/whitePull13.png') no-repeat 50px center;
}


.hiddenItem{
    display: none;
}


.drop_ul:hover .hiddenItem {
    display: block;
}

.date{
    width: 100px;
    padding-left: 8px;
}

td span{
    line-height: 16px;
}

.danhao{
    color: #46a1bb;
    cursor: pointer;
}

.compPayCheck{
	margin-left: 25px;
    width: 16px;
    height: 25px;
    margin-top: 0px;
    padding-bottom: 10px;
}