html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif;
    /*font-family:Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;*/
    font-weight: 400;
    font-size: 14px;
    background-color: #f7f7f5;
}

.outer {
    box-sizing: border-box;
    padding: 60px 0 0;
    /*min-height: 100%;*/
    min-width: 1200px;
    height: 100%;
    background-color: #f7f7f5;
}

.headerWrap {
    width: 100%;
    height: 60px;
    background: url("../../common/images/hdbg.jpg");
}

.header {
    margin: -60px auto 0;
    height: 60px;
    line-height: 60px;
    position: relative;
    z-index: 33;
    color: #FFFFFF;
}

.main {
    background-color: #fff;
    min-height: 100%;
    position: relative;
    width: 1360px;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    /*padding-bottom: 40px;*/
}

.left {
    height: 60px;
    margin-left: 20px;
    line-height: 60px;
    position: relative;
    float: left;
}

.left img {
    margin-bottom: -6px;
}

.logo {
    display: inline-block;
    font-size: 18px;
}

.right {
    position: relative;
    float: right;
    height: 60px;
    font-size: 16px;
}

.right>div{
    float: left;
}


.right  span>a {
    display: inline-block;
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}

.right  span>a:hover {
    cursor: pointer;
    background-color: #295A7F;
    color: white;
}

.right  img {
    width: 46px;
    height: 46px;
    margin-top: 4px;
    margin-left: 25px;
    border-radius: 50%;
    cursor: pointer;
}

/*图标hover内容*/
.peopleBox-h{
    position: relative;
    margin-right: 80px;
    height: 60px;
}

.peopleInfo-h{
    color: #3e3a39;
    font-size: 12px;
    position: absolute;
    width: 220px;
    /*height: 144px;*/
    border: 1px solid #000000;
    background-color: #fff;
    top: 60px;
    left: -72px;
    padding-top: 10px;
    display: none;
}

/*.peopleBox-h:hover .peopleInfo-h{*/
    /*display: block;*/
/*}*/

.name-h{
    float: left;
    margin-right: 15px;
    min-width: 36px;
}

.depart-h{
    float: left;
    margin-right: 15px;
    min-width: 36px;
}

.peopleInfoItem-h{
    line-height: 20px;
    padding: 0 20px;
}

.people-center-h{
    float: left;
    color: #46a1bb;
    cursor: pointer;
    font-size: 13px;
}

.people-center-h i{
    margin-right: 5px;
}

.noRead-message-h{
    cursor: pointer;
    float: right;
    font-size: 13px;
}

.noRead-message-h i{
    margin-right: 5px;
}


.peopele-message-h{
    line-height: 30px;
    padding: 0 20px;
    margin-top: 10px;
    border-top: 1px solid #f7f7f7;
}


.signOut-h{
    background-color: #f7f7f7;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}


.noReadNum{
    position: relative;
}

.noReadNumCircle{
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    top: 2px;
    left: 13px;
}


/*侧边栏操作*/
.sideBar {
    width: 180px;
    position: relative;
    float: left;
    background: #FFFFFF;
    padding: 0 0 40px 0;
    z-index: 3;
    /*margin-right: 10px;*/
}

.sideBar > h2 {
    font-size: 22px;
    font-weight: bold;
    /*text-align: center;*/
    margin-left: 48px;
    margin-bottom: 10px;
}

.mod-order {

}

.sub-li {
    font-size: 14px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 130px;
    padding-left: 50px;
}

.sub-li > a {
    height: 30px;
    line-height: 30px;
    width: 130px;
    display: inline-block;
}

.sub-li> a:hover {
    /*background-color: #346a91;*/
    color: #FFFFFF;
}

.sub-li:hover {
    background-color: #346a91;
    color: #FFFFFF;
}
.canselect-title:hover{
    background-color: #346a91 !important;
    color:#FFFFFF !important;
}
.sideBarActive:hover{
    background-color: #346a91 !important;
    color:#FFFFFF !important;
}

.sub-title-img{
    width: 14px;
    margin-right: 16px;
}

.sub-title{
    padding-left: 20px;
    width: 160px;
    cursor: default;
    font-size: 16px;
}

.sub-title:hover{
    background-color: #fff;
    color: #3e3a39;
}

.sub-title-active{
    padding-left: 20px;
    width: 160px;
    font-size: 16px;
}

.sub-title-active :hover{
    background-color: #335268;
    color: #FFFFFF;
}

.sideBarActive{
    background-color: #335268;
    color: #FFFFFF;
}

.sideBarDie:hover{
    /*!*background-color: #fff;*!*/
    /*color: #cccccc;*/
    opacity: 0.4;
}

.sideBarDie{
    /*color: #cccccc;*/
    opacity: 0.4;
}

.footer {
    display: none;
    margin-top: -60px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
}

/*通用button样式*/
.btn {
    /*color: #aaaaaa;*/
    /*width: 90px;*/
    /*height: 30px;*/
    /*background: #FFFFFF;*/
    font-size: 14px;
    cursor: pointer;
    /*padding: 0;*/
}

.btn_active {
    color: #169bd5;
    border: 1px solid #46a1bb;
}

.btn_save {
    background-color: #46a1bb;
    color: white;
}

.cancel {
    width: 90px;
    height: 30px;
    color: #fff;
    background-color: #aaa;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.cancel:hover{
    background-color: #666;
}


.pay {
    width: 90px;
    height: 30px;
    background-color: #46a1bb;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}

.pay:hover {
    border-color: #0d809b;
    background-color: #0d809b;
}

.save90 {
    width: 90px;
    height: 30px;
    background-color: #46a1bb;
    border-radius: 2px;
    color: #FFFFFF;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.save90:hover {
    background-color: #0d809b;
}

.cancel90 {
    width: 90px;
    height: 30px;
    color: #fff;
    background-color: #aaa;
    border-radius: 2px;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.cancel90:hover {
    background-color: #666;
}

/*通用按钮样式*/

.btn_success {
    background-color: #46a1bb;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    border: none;
}

.btn_success:hover {
    background-color: #0d809b;
}

.btn_cancel {
    background-color: #aaa;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    border: none;
}

.btn_cancel:hover {
    background-color:#666;
}




/*页面验证信息提示*/
label.promptError {
    line-height: 1;
    position: absolute;
    display: block;
    padding: 6px 12px;
    color: white;
    font-size: 12px;
    left: 8px;
    top: -24px;
    background: #e53935;
}

label.promptError:after {
    content: url("../../common/images/upTrangleRed.png");
    position: absolute;
    top: 18px;
    left: 4px;
}

input[type=text]:focus {
    border-color: #46a1bb;
}

input[type=password]:focus {
    border-color: #46a1bb;
}

input {
    font-size: 14px;
    border: 1px solid #bbbbbb;
    color: #3e3a39;
    font-family: "Microsoft YaHei", sans-serif;
}

input[type=radio],input[type=checkbox]{
    cursor: pointer;
}

textarea {
    font: normal 14px/14px "Microsoft YaHei", sans-serif;
}

textarea:focus {
    border-color: #46a1bb;
}

/*iconfont*/
.iconDown {
    margin-left: 8px;
}

.iconParkinglot {
    font-size: 12px;
}

.iconWifi {
    font-size: 12px;
}

.iconBroadband {
    font-size: 12px;
}

/*通用input*/
.input {
    border: 1px solid #aaaaaa;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
}

/*placeholder*/
::-webkit-input-placeholder {
    color: #a9a9a9;
}
:-moz-placeholder {/* Firefox 18- */
    color: #a9a9a9;
}
::-moz-placeholder{/* Firefox 19+ */
    color: #a9a9a9;
}
:-ms-input-placeholder {
    color: #a9a9a9;
}