.form-icon {
	padding-top:7px;
}

#addStep{
	margin-bottom: 5px;
}

.title_status{
	padding-left: 10px;
}

.nodeFieldSet .panel-heading{
	padding: 7px 15px;
}

.nodeFieldSet .panel{
	margin-bottom:8px !important;
}

.nodeFieldSet .panel-body{
	padding: 0px;
}

.nodeFieldSet .panel-body .list-group{
	margin-bottom:0px;
}

.nodeFieldSet .list-group-item{
	border-left: none;
	border-right: none;
}

/* .nodeFieldSet .list-group-item.active{
	border-color:transparent;
	background-color:transparent;
	color: #555;
} */


.nodeFieldSet .list-group-item:FIRST-CHILD {
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

.nodeFieldSet .list-group-item:last-child{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.nodeFieldSet .optIcon{
	cursor: pointer;
	visibility: hidden;
	margin-left: 5px;
	margin-right: 5px;
}

.nodeFieldSet .fa-times{
	cursor: pointer;
}

.nodeFieldSet .panel:HOVER .optIcon{
	visibility: visible;
}

.nodeFieldSet .panel-body .list-group .fa-times{
	visibility: hidden;
}

.list-group-item-heading .fa-times{
	visibility: hidden;
}

.list-group-item:HOVER .fa-times{
	visibility: visible;
}

.splitDiv{
	background: url("../../../resource/image/line.png");
	margin-top: 10px;
	margin-bottom: 10px;
}

.splitDiv span{
	margin-left: 25px;
	padding-left:4px;
	padding-right:4px;
	background-color: white;
	font-weight: bold;
}

#panelDetail{
	display:none;
}

#hideModel .hideDiv{
	display: none;
}

#orgRole_form .deleteOrgRole{
	padding-top:7px;
	cursor: pointer;
}

.second-level-label {
	padding-left: 0px;
	padding-right: 0px;
}

.not-editable {
	background-color: transparent !important;
}

.route-table th,td {
	text-align: center !important;
	padding: 0px !important;
	height: 35px;
	vertical-align: middle !important;
}