
a{
    color: #666;
    text-decoration:none;
}
a:hover{
text-decoration:none;
}
p{
    margin: 0;
}
.data-1{
    margin-right: 15px;
}
.hoc-cut-off{
    height:1px;
    background: #2b542c;
    width: 100%;
    margin: 10px 0 20px 0;
}
.hoc-header{
    width: 100%;
    height:40px;
}
body,html{
    width:100%;
    height:100%;
}
/*菜单栏*/
.hoc-order{
    width:100%;
    height:100%;
}
.hoc-order-menu{
    overflow: hidden;
    height:100%;
    width: 20%;
}
.hoc-order-menu .hoc-menu-1{
    overflow: hidden;
    width: 40%;
    background: #212121;
    padding-bottom: 200px;
}
.hoc-order-menu .hoc-menu-1 li{
    display: block;
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
}
.hoc-order-menu .hoc-menu-1 li a{
    color: #fff;
    text-decoration:none;
}
.hoc-order-menu .hoc-menu-2{
    overflow: hidden;
    background: #f1f1f1;
    width: 60%;
    height:100%;
}
.hoc-order-menu .hoc-menu-2 li{
    line-height: 40px;
    display: block;
    text-align: left;
    padding-left: 20px;
}
.hoc-order-menu .hoc-menu-2 li a{
    color: #666;
    text-decoration:none;
}

/*内容界面*/
.hoc-order-content{
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
}
.hoc-order-content .hoc-cont-header{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px #5bc0de solid;
}
.hoc-order-content .hoc-cont-header ul li{
    padding: 0 40px;
    float: left;
    line-height: 40px;
    border: 1px solid #5bc0de;
    border-left: none;
    border-bottom: none;
}
.hoc-order-content .hoc-cont-header ul li.on{
    background: #5bc0de;
    color: #fff;
}
.hoc-order-content .hoc-cont-cont .cont-title{
    font-size: 24px;
    padding-left: 20px;
    line-height:70px;
    color: #000;
    font-weight: 600;
    margin-top: 15px;
}
.hoc-order-content .cont-left{
    width: 50%;
    padding:0 20px;
    float: left;
    overflow: hidden;
}
.hoc-order-content .cont-right{
    width: 50%;
    float: left;
    padding: 0 20px;
}
.hoc-cont-cont .cont-left-1{
    padding-bottom: 10px;
    width:100%;
}
.hoc-cont-cont .cont-info{
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
}
.hoc-cont-cont .cont-info-label{
    width: 15%;
    text-align: left;
}
.hoc-cont-cont .cont-info-in{
    width: 85%;
    text-align: left;
}
.form-table{
    width: 100%;
    overflow: hidden;
}
.form-table th,.form-table td{
	min-width:60px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.form-table .first-th{
    width: 15%;
}
.form-table .input-num input{
    width: 100%;
}
.hoc-button-wards


.hoc-order-content .cont-right{
    width: 50%;
    padding:0 20px;
    float: left;
    overflow: hidden;
}
.hoc-button-wards{
    overflow: hidden;
    margin-bottom: 20px;
}
.hoc-button-wards .hoc-pass-bt{
    width: 140px;
    height:50px;
    text-align: center;
    font-size: 18px;
    line-height:50px;
    color: #666;
    border: 1px #5bc0de solid;
    float: left;
}
.hoc-button-wards .hoc-refuse-bt{
    width: 140px;
    height:50px;
    color: #666;
    text-align: center;
    font-size: 18px;
    line-height:50px;
    border: 1px #5bc0de solid;
    float: left;
    margin-left: 10px;
}
.hoc-button-wards .hoc-idle-bt{
    width: 120px;
    height:50px;
    color: #666;
    text-align: left;
    font-size: 18px;
    line-height:50px;
    float: left;
    padding-left: 10px;
}
.hoc-button-wards .hoc-bt.on{
    background: #5bc0de;
    color: #fff;
}

.enclosure span{
	color: blue;
	cursor:pointer;
}
.enclosure{
	margin-bottom: 10px;
}

.img{
	margin-right: 10px;
}

.hoc-button-wards a:hover{
	background: #5bc0de;
    color: #fff;
}
