/*select*/
.content > .sel {
    font-size: 14px;
    color: #3e3a39;
    font-weight: normal;
    width: 900px;
    /*height: 160px;*/
   /*  border: 1px solid #dbdcdc; */
    padding: 20px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.accountInfo{
	margin-left: 52px;
}

.top_back {
    float: right;
    padding-left: 24px;
    /*width: 100px;*/
    height: 20px;
    line-height: 20px;
    color: #1176cc;
    background: url("../../../common/images/back.png") no-repeat left center;
    cursor: pointer;
}

#sel1,#sel2{
    margin-bottom: 16px;
}
.sel input {
    height: 26px;
}
.sel label{
    display: inline-block;
    width: 70px;
}
.sel span {
    padding: 8px 10px;
    cursor: pointer;
}

.sel span:hover {
    color: white;
    background-color: #1176cc;
}

.selected {
    color: white;
    background-color: #1176cc;
}

a {
    color: inherit;
}

.keyWords {
    padding-left: 8px;
    width: 210px;
    color: #888888;
    font-size: 14px;
    margin-right: 20px;
}
#sel1>label{
    display: inline;
}
.sel .button {
    display: inline-block;
    background-color: #1176cc;
    color: white;
    width: 90px;
    text-align: center;
    margin-left: 0;
    border-radius:2px;
}

.sel .button:hover{
    background-color: #0063a0;
}

/*表格*/
.result {

}
.table {
    width: 100%;
}

.tipL{
    padding-left:30px;
}

.tipR{
    padding-right:30px;
}

table td{
    border-bottom: 1px solid #f7f7f7;
}

table  tr:hover{
    background-color: #f9f9f9;
}

table tr > th {
    background-color: #eee;
}

table tr > td, table tr > th {
    /*width: 160px;*/
    height: 40px;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    max-width: 280px;
}

.date {
    width: 75px;
}

.drop_div{
    width: 70px;
}

td > p{
	height: 20px;
    padding-bottom: 3px;
}

.lastTd{
    padding-right: 30px;
    position: relative;
}

.drop_ul {
    width: 70px;
    position: absolute;
    top:17px;
    background-color: #FFFFFF;
    border: 1px solid #bbb;
    /*height: 80px;*/
}


.drop_ul1{
    z-index: 999;
}


.drop_li {
    display: inline-block;
    padding: 0 0 0 8px;
    width: 60px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.drop_li:hover {
    background-color: #1176cc;
    border-color: #1176cc;
    color: #FFFFFF;
}

.showItem{
    background: url('../../common/images/downGray.png') no-repeat 50px 10px;
}

.hiddenItem{
    display: none;
}


.drop_ul:hover .hiddenItem {
    display: block;
}

.date{
    width: 100px;
    padding-left: 8px;
}

.danhao{
    color: #1176cc;
    cursor: pointer;
}