<!-- 客服人员渲染列laytpl模版-->
<script type="text/html" id="tpl_serverSkill_flight">
  {{#  if(d.doFlight == 1){ }}
  √
  {{#  } }}
</script>
<script type="text/html" id="tpl_serverSkill_hotel">
  {{#  if(d.doHotel == 1){ }}
  √
  {{#  } }}
</script>
<script type="text/html" id="tpl_serverSkill_train">
  {{#  if(d.doTrain == 1){ }}
  √
  {{#  } }}
</script>
<script type="text/html" id="tpl_serverSkill_insurance">
  {{#  if(d.doInsurance == 1){ }}
  √
  {{#  } }}
</script>
<script type="text/html" id="tpl_serverSkill_general">
  {{#  if(d.doGeneral == 1){ }}
  √
  {{#  } }}
</script>
