.dropdown-org button:FIRST-CHILD,
.dropdown-role button:FIRST-CHILD {
    text-align: left;
}

.dropdown-org button span,
.dropdown-role button span {
    float: right;
}

.dropdown-common-list,
.dropdown-org-list,
.dropdown-role-list {
    right: 0;
    left: auto;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 300px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px;
}

.dropdown-common-list ul,
.dropdown-org-list ul,
.dropdown-role-list ul {
    margin-bottom: 0px;
}

.dropdown-common-list ul li:HOVER {
    background-color: #F8F8F8;
}

.dropdown-common-list ul .curSel {
    background-color: #428bca !important;
}

#trWg_table_users nav,
#trWg_table_user nav {
    height: 40px;
}

#trWg_table_users nav ul,
#trWg_table_user nav ul {
    margin: 5px;
}

.has-feedback label, .form-control-feedback {
    top: 0px;
}

.overflow_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.laytable-cell-radio .layui-table-cell {
    padding: 0 5px 0 15px;
}

.laytable-cell-radio span {
    display: none;
}

.laytable-cell-radio .layui-form-radio {
    padding-right: 0;
    margin: 0;
}

.laytable-cell-radio .layui-form-radio i {
    margin: 0px !important;
}

.condition .list-item {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.condition .list-item:hover {
    background-color: #f2f2f2;
}

.condition .choose-list {
    position: absolute;
    z-index: 100;
    min-height: 60px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #b4c1b4;
    border-radius: 2px;
    background-color: white;
    display: none;
}

.condition .choose-list .info-tip{
    text-align: center;
    padding-top: 20px;
}