#formServerCharge{
    font-family: "'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';
}
#formServerCharge .bar-title{
    font-weight: bold;
    font-size: 14px;
    background-color: #CCCCCC;
    line-height: 35px;
    padding-left: 10px;
}
.type-row label{
    margin-left: 4px;
    margin-right: 4px;
    color: #999999;
    width: 120px;
    text-align: right;
    font-weight:initial;
}
#formServerCharge .small-title{
    font-weight:initial;
    color:black;
    width: 60px;
}
.type-row{
    padding-left: 10px;
    line-height: 50px;
    height: 50px;
}

#formServerCharge .part-2{
    padding-right: 15px;
}
#formServerCharge .row{
    margin-left:0px;
    margin-right: 0px;
}
#formServerCharge .row .col-sm-2{
    text-align: left;
}

#sameWithBook{
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 2px;
}
.lb-sameWithBook{
    margin-right: 15px;
    font-weight: normal;
    margin-bottom:0px;
}
.bottom-opt{
    background-color:#F2F2F2;
    height: 65px;
    padding-left: 20px;
    padding-top: 15px;
}
.popover.right>.arrow{
    top:50% !important;
}

#tmplName{
    margin-left: 4px;
    padding-left: 3px;
}

.readonlyCol{
    background-color:#EBEBE4;
    border: 1px solid #A9A9A9;
}

.severChargeTable{
    width: 100%;
}

.severChargeTable thead{
    line-height: 35px;
    font-weight: bold;
    background: #F2F2F2;
}
.severChargeTable thead td{
    color: #887474;
}
.severChargeTable thead td:first-child{
    color: black;
    padding-left: 10px;
}
.severChargeTable tbody tr{
    line-height: 23px;
    height: 45px;
    background-color: white;
}

.severChargeTable .small-title{
    padding-left: 26px;
}

.severChargeTable tbody select{
    width: 100px;
    height: 28px;
}

.severChargeTable tbody input{
    padding-left: 3px;
}

.cloneTable{
    display: none;
    visibility: hidden;
}