

.main {
    width: 100%;
}

.title div {
    float: left;
    line-height: 30px;
}

input[type=text] {
    height: 28px;
    padding-left: 8px;
    margin-left: 8px;
    width:120px;
}
.price {
    height: 32px;
    padding-left: 8px;
    margin-left: 8px;
    width:108px;
}

.itemBox {
    background-color: #efefef;
    padding: 20px 10px;
    margin-top: 20px;
}

.resert {
    float: right;
    color: #0094db;
    cursor: pointer;
}

.itemSub {
    width: 245px;
    line-height: 30px;
    float: left;
    margin: 0 10px 0 0;
}

select {
    float: right;
    width: 121px;
    height: 28px;
}

.item .longInput {
    width: 91%;
    margin-left: 24px;
}

.item {
    margin: 10px 0;
}

.foot {
    background-color: #aaa;
    margin: 20px 0;
    padding: 20px 10px;
}

.foot span {
    color: #fff;
}

.footerItem {
    float: right;
    margin-right: 6px;
}

.moneyBox {
    margin-top: 50px;
}

.nextBtn{
    width: 150px;
    height: 30px;
    line-height: 30px;
}

.moneyT{
    line-height: 30px;
    margin-left: 70%;
    color: #fff;
}

.moneyT .money{
    font-size: 20px;
    color: #e56c0c;
    float: left;
    margin-left: 4px;
}

.import{
    width: 100px;
    height: 30px;
}
.rule_text{
    width: 60px;
}



/*=================table====================*/

.manual-pnr{
    margin-top: 20px;
}
.manual-pnr table{
    font-size: 14px;
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}
.manual-pnr select{
    float: left;
}
th{
    background-color: #666;
    color:#fff;
    border:1px solid #d0d0d0;
    text-align: left;
}
td{
    border:1px solid #f0f0f0;
}
th,td{
    padding: 5px 10px;
}
tbody tr:first-child td{
    background: #cbcbcb;
    border-color: #e9e9e9;
}
tbody{
    margin-bottom: 20px;
}
td span:first-child{
    display: inline-block;
    width:100px;
}
p{
    margin-bottom: 5px;
}
p span:first-child{
    display: inline-block;
    width:100px;
}
tr td:last-child{
    color:#2aa2d6;
    width: 100px;
}
tbody tr:last-child{
    height: 20px;
}
tbody tr:first-child td:first-child{
    font-weight: bold;
}

.equals{
    color: #00e600;
}
