ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul, li {
	list-style: none;
}

.tab li {
	height: 40px;
	line-height: 40px;
	width: 300px;
	color: #3e3a3d;
	float: left;
	text-align:center;
	cursor: pointer;
}

.tab>ul {
	border: 1px solid #5bc0de;
}

/* li:hover {
	background-color: #169bd5;
} */

li.active {
	background-color: #5bc0de;
}

.content1 {
	height: 30px;
	border: 1px solid #c0c0c0;
	margin-bottom: 10px;
}

.content2 {
	height: 30px;
	display: none;
	border: 1px solid #c0c0c0;
	margin-bottom: 10px;
}

.content2 p{
	margin-left:300px;
}

.content3 {
	height: 30px;
	display: none;
	border: 1px solid #c0c0c0;
	margin-bottom: 10px;
}
.content4 {
	height: 30px;
	display: none;
	border: 1px solid #c0c0c0;
	margin-bottom: 10px;
}

.content3 p{
	text-align: right;
}

/* 清除浮动*/
.fix {
	*zoom: 1;
}

.fix:after {
	display: table;
	content: '';
	clear: both;
}
.pane-wrapper{
	margin-top: 10px;
}

.Wdate{
	border: 1px solid #ccc;
	height: 34px;
}
