*{margin: 0;padding: 0;border: 0;/*color: #333333*/}
.fl{
    float: left;
}
.fr{
    float: right;
}
input,select{
    outline: none;
}
input::-webkit-input-placeholder{
    color:#ccc;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#ccc;
}
table{
    border-collapse: inherit;
    border-spacing:1px;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.flightTravel{
    width: 1200px;
    margin: 0 auto;
}
.flightTravel span.title{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    line-height: 28px;
    display:inline-flex;
    border-bottom: 3px #0090df solid;
}
.ftInfo{
    margin-top: 10px;
    display:flex;
    background: #FFFFFF;
}
.travelInfo{
    flex-direction:column-reverse;
    /*width: 48%;*/
    padding:0 1%;
}
.tInfo{
    margin: 8px 0;
    display: flex;
    border: 1px #eeeeee solid;
}
.tInfo .infoDiv{
    width: 170px;
    font-size: 12px;
    color: #acacac;
    padding: 8px;
    line-height: 1.8;
    flex-direction:column-reverse;
}
.tInfo .infoDiv span{
    color: red;
}
.tInfo .infoDiv select{
    color: #333333;
    height: 28px;
    width: 160px;
    line-height: 28px;
    margin: 5px 0;
    padding: 3px;
    border: 1px #cccccc solid;
}
.tInfo .infoDiv input{
    color: #333333;
    height: 28px;
    /*width: 180px;*/
    line-height:28px;
    margin: 5px 0;
    padding: 3px;
    border: 1px #cccccc solid;
}
.tInfo .infoDiv.nm{
    width: 150px;
}
.tInfo .infoDiv.nm select{
    width: 150px;
}
.tInfo .infoDiv.nm input{
    display: inline-table;
    width:140px;
}
.tInfo .infoDiv.tel{
    display: inline-table;
    width: 150px;
}
.tInfo .infoDiv.tel input{
    width: 140px;
}
.tInfo .infoDiv.email{
    width: 200px;
    margin-right: 10px;
}
.tInfo .infoDiv.email input{
    width: 200px;
}
.reservationInfo{
    flex-direction:column-reverse;
    /*width: 48%;*/
    padding:0 1%;
}
/*行程*/
.ftTravel, .ftUser, .ftMoney, .ftSupplier{
    display: block;
    width:100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 10px;
}
.travelTitle{
    padding-top: 6px;
    width: 100%;
}
.travelTitle span{
    float: left;
}
.trvType{
    font-size: 12px;
    line-height: 28px;
    margin-top: 5px;
    float: right;
}
.trvType input{
    margin-left: 12px;
    margin-top: 2px;
}
.trvType a.addTrvbtn{
    cursor: pointer;
    color: #0078c9;
    font-size: 11px;
    line-height: 24px;
    padding: 0 26px;
    margin-left: 26px;
    display: inline-table;
    border: 1px #0078c9 solid;
    border-radius: 14px;
}
/*行程表单*/
.process{
    font-size: 12px;
    margin-top: 10px;
    border: 1px #eeeeee solid;
}
.process_title{
    width: 3.5%;
    margin-top: 90px;
    padding: 0 1%;
    text-align: center;
}
.proInfo{
    position: relative;
    padding-top: 34px;
    width: 93.5%;
    padding-left:2%;
    border-left: 1px #ccc dashed;
}
.clearX{
    position: absolute;
    right: 0;
    top: 8px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
    line-height: 32px;
    color: #0078c9;
}
.clearcon{
    color: #0078c9;
}
.clearX i{
    color: #0078c9;
    font-size: 20px;
    line-height: 32px;
    margin-left: 6px;
    vertical-align: middle;
}
.flightNo,.stopFlight{
    margin-top: 6px;
    display: flex;
}
.flightNo .fnDiv{
    position: relative;
    line-height: 24px;
    width: 10%;
    flex-direction:column-reverse;
}
.fnDiv label{
    font-weight: 500;
    margin-right: 3px;
}
.fnDiv span{
    color: red;
}
.fnDiv input{
    color: #333333;
    height: 28px;
    width: 80px;
    line-height: 28px;
    margin: 5px 0;
    padding: 3px;
    border: 1px #cccccc solid;
}
input.wd{
    position: absolute;
    left: 0;
    top:0;
    height: 12px;
    width: 12px;
}
.stopFlight .fnDiv{
    position: relative;
    width: 9%;
    flex-direction:column-reverse;
}
.backRule{
    padding-bottom: 6px;
}
.backRule .fnDiv{
    margin: 10px 0;
    width: 9%;
}
.backRule input{
    color: #333333;
    height: 28px;
    width: 950px;
    line-height: 28px;
    margin: 5px 0;
    padding: 3px;
    border: 1px #cccccc solid;
}
.clearfix{
    padding-right: 0;
}
/*乘机人*/
.ftUser select.userType{
    width: 120px;
    height: 22px;
    font-size: 12px;
    color: #787878;
    line-height: 22px;
    margin-left: 10px;
    border: 1px #cccccc solid;
}
.userInfo{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
    border: 1px #eee solid;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 26px;
}
.userTab{
    font-size: 14px;
    text-align: center;
    background: #eeeeee;
}
.userTab th{
    color: #999999;
    font-weight: normal;
    min-width: 40px;
    max-width: 150px;
    padding: 5px;
    background: #FFFFFF;
}
.userTab th span{
    color: red;
}
.userTab td{
    min-width: 80px;
    max-width: 150px;
    color: #333333;
    background: #FFFFFF;
}
.userTab td select{
    padding: 0 3px;
    margin: 5px 10px;
    width: 90px;
    height: 24px;
    line-height: 24px;
    border: 1px #cccccc solid;
}
.userTab td input{
    padding: 0 3px;
    margin: 5px 10px;
    width: 90px;
    height: 24px;
    line-height: 24px;
    border: 1px #cccccc solid;
}
.userTab td.sexIpt{
    min-width: 100px;
}
.userTab td.sexIpt input{
    margin: 0 3px;
    height: 13px;
    width: 13px;
    vertical-align: inherit;
}
.userTab td a{
    font-size: 13px;
    display: block;
    cursor: pointer;
    color: #cccccc;
}
.userTab td a:hover{
    color: #333333;
    text-decoration: underline;
}
/*金额*/
.ftMoney .CNY label{
    line-height: 44px;
    font-size: 15px;
    color: #333333;
    margin:0 30px;
}
.ftMoney .CNY label span{
    margin:0 8px ;
}
.ftMoney .CNY label span.rd{
    color: red;
}
.moneyTab{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    background: #eeeeee;
}
.moneyTab thead{
    background: #FFFFFF;
}
.moneyTab thead span{
    color: red;
}
.moneyTab tr{
    background: #FFFFFF;
}
.moneyTab td{
    width: 20%;
}
.moneyTab tr input{
    padding: 0 3px;
    margin: 5px 0;
    height: 24px;
    line-height: 24px;
    border: 1px #cccccc solid;
}

.interBtn{
    margin: 20px 0;
}
.formBtn{
    color: #FFFFFF;
    text-align: center;
    width: 200px;
    line-height: 46px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    background: #0078c9;
}
.formBtnGray{
    background: #23AEF9;
}
/*11111*/
.addStaff{
    width: 500px;
    padding: 20px 0;
    margin: 0 auto;
    background: #FFFFFF;
    /*border: 2px #32aadf solid;*/
}
.addtitle{
    position: relative;
    text-align: left;
    padding-bottom: 8px;
}
.addtitle .btnx{
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
}
.addtitle h3{
    font-size: 16px;
    line-height: 22px;
}
.addtitle p{
    position: relative;
    width: 100%;
    font-size: 14px;
    height: 36px;
    line-height: 28px;
}
.addtitle p input{
    display: inline-block;
    width: 200px;
    height: 28px;
    line-height: 28px;
    padding-left: 4px;
    padding-right: 10px;
    float: right;
    border: 1px #cccccc solid;
}
.addtitle p i{
    position: absolute;
    top:0;
    right: 5px;
    color: #32aadf;
    cursor: pointer;
}
.addtitle p a{
    cursor: pointer;
    display: inline-block;
}
.addtitle .headerDm{
    font-size: 13px;
    color: #666;
    text-align: center;
}
.addtitle .headerDm span{
    display: inline-block;
    margin: 0 10px;
}
.depart{
    font-size: 12px;
    text-align: left;
    color: #333333;
    line-height: 28px;
    display: flex;
    flex-wrap:wrap;
    padding-top: 16px;
    border-bottom: 1px #cccccc solid;
    border-top: 1px #cccccc solid;
}
.depart div{
    width: 18%;
    margin: 0 1%;
}
.depart div span{
    cursor: pointer;
    text-indent: 5px;
    margin-bottom: 16px;
    display: block;
    border: 1px #eeeeee solid;
}
.depart div span.selected{
    border: 1px #32aadf solid;
}
.depart div span:hover{
    border: 1px #32aadf solid;
}
.staff{
    font-size: 12px;
    color: #333333;
    display: flex;
    flex-wrap:wrap;
    margin-top: 16px;
    line-height: 28px;
    height: 90px;
    overflow-y: scroll;
}

.topUser{
    font-size: 12px;
    color: #333333;
    display: flex;
    flex-wrap:wrap;
    margin-top: 16px;
    line-height: 22px;
    height: 48px;
    overflow-y: scroll;
}
.staff span{
    width: 70px;
    margin-left: 10px;
    text-align: center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.topUser span{
    width: 70px;
    margin-left: 10px;
    text-align: center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.defaultDiv{
    display: none;
}

.otherExpenseH {
    display: none;
    color: #ccc;
}

/*树弹窗*/
#expenseDetail {
    margin-left: 30px;
}

.ul_b .otherExpense {
    width: 199px;
    padding-left: 8px;
    color: #1176CC;
}

.item_div {
    width: 132px;
    height: 28px;
    padding-left: 8px;
    background: url('../../common/images/downGray.png') no-repeat 118px;
    border: none;
    cursor: pointer;
}

.item_ul > li {

    height: 28px;
    padding-left: 8px;
    list-style: none;
}

.item_ul > li:hover {
    background:  #0078C9;
    color: #FFFFFF;
    border-color:  #0078C9;
}

.ul_b {
    display: none;
    background: #ffffff;
    position: absolute;
    z-index: 999;
    border: 1px solid #bbbbbb;
    border-top: none;
    cursor: pointer;
}

.ul_b .otherExpense {
    width: 140px;
    padding-left: 8px;
    color: #1176CC;
}

.costUnit {
    position: absolute;
    z-index: 99;
    width: 8px;
    height: 8px;
    background-color: #1176CC;
    border-radius: 50%;
    right: -4px;
    top: 4px;
}

cite:hover .costUnit:after {
    border: 1px solid #cccccc;
    font-size: 12px;
    content: '成本核算单元';
    position: absolute;
    background-color: #FFFFFF;
    z-index: 2147483584;
    margin-top: -6px;
    margin-left: 10px;
    padding: 2px;
    height: 14px;
    line-height: 14px;
}
/*对树追加圆点的操作 小圆点*/
.activePoint {
    color: #3e3a39;
    cursor: pointer;
}

.activeTree {
    color:  #0078C9;
}

.activePoint:hover {
    color:  #0078C9;
}
.bluePoint {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #1176CC;
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
}


.userTab td.ticket{
    min-width: 180px;
    position: relative;
}
.userTab td.ticket input{
    min-width: 160px;
}
.ticketCodeNotice{
    display: none;
    position: absolute;
    top:32px;
    left:10px;
    z-index: 2;
    border: 1px #0078c9 solid;
    border-radius: 2px;
    line-height: 1.6;
    font-size: 10px;
    background: #FFFFFF;
    width: 220px;
}
.userTab .ticket:hover .ticketCodeNotice{
    display: block;
}

.timeNotice{
    display: none;
    position: absolute;
    left:10px;
    z-index: 2;
    border: 1px #0078c9 solid;
    border-radius: 2px;
    line-height: 1.6;
    font-size: 10px;
    background: #FFFFFF;
    width: 220px;
}

.proInfo .fnDiv:hover .timeNotice{
    display: block;
}

.layui-tree li a cite {
    padding: 0 6px;
    position: relative;
    font-size: 14px;
}




.pnrImport{
    height: 23px;
    line-height: 21px;
    padding: 3px 28px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    outline: none;
    background: #23AEF9;
    color: white;
    cursor: pointer;
}

.HFdiv{
    margin: 0 auto;
    width: 570px;
}
span.HFtitle{
    display:inline-block;
    line-height: 1.6;
    border-bottom: 2px #0b76ac solid;
    margin-bottom: 10px;
}
.bkDiv{
    width: 570px;
    height: 430px;
    font-size: 14px;
    line-height:18px;
    background-color: #000000;
    color: #00ff00;
    overflow-y:auto;
}
.btn{
    width: 570px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
}
.btn .btnC{
    cursor: pointer;
    float: left;
    line-height: 30px;
    width: 90px;
    border: 1px #0b76ac solid;
    color: #0b76ac;
}
.btn .btnD{
    cursor: not-allowed;
    float: right;
    line-height: 30px;
    width: 450px;
    background-color: #0b76ac;
    color: #ffffff;
}

.requiredColor{
    background-color: #FFE6E6;
}
.requiredColor:disabled{
    background-color: #EBEBE4;
}