/*.oContent{*/
/*padding-top: 20px;*/
/*background-color: white;*/
/*}*/
.oContentL{
    width: 720px;
    margin-right: 38px;
    float: left;
    position: relative;
}
.nav{
    margin-bottom: 20px;
    font-size: 0;
}
.nav span{
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}
.first{
    background: url("../image/order1.png") no-repeat;
}
.sub{
    background: url("../image/train2.png")  no-repeat;
    padding-left: 1px;
}
.three{
    background: url("../image/apply3.png")  no-repeat;
    padding-left: 2px;
}
.oTitle{
    font-size: 20px;
}
.oNumber{
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.oState{
    padding-top: 20px;
}
.oStateTitle{
    font-size: 18px;
    color: #ec6c23;
    margin-bottom: 20px;
}
.oStateSub{
    font-size: 14px;
    color: #ec6c23;
}

.rule>span{
    margin-left: 26px;
    vertical-align: middle;
}
.oCount{
    font-size: 14px;
    color: #ec6c23;
}
.oProgress{
    font-size: 0;
}
.oProgressItem{
    float: left;
    width: 180px;
    text-align: center;
}
.oProgressItem>p{
    padding: 4px 0;
    background-color: #f7f7f7;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.oProgressItemActive>p{
    background-color: #46a1bb;
    color: white;
}

.oProgressItemActive>span{
    color: #46a1bb;
}

.oProgressItem>span{
    font-size: 12px;
}
.oItemTitle{
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
    margin-top: 20px;
}
.oItemLi{
    margin-top: 20px;
}
.oItemLi>p{
    margin-top: 15px;
}
.oItemLiLabel{
    display: inline-block;
    width: 70px;
    color: #888888;
}


/*右侧内容*/
.oContentR {
    position: relative;
    width: 400px;
    float: left;
    min-height: 100%;
    font-size: 14px;
    background: #f1f1f1;
    border: none;
    padding-bottom: 20px;
    color: #212121;
}

.rightTitle{
    padding: 10px ;
}

.rightTrip{
    padding: 10px ;
}

.rightCarInfo{
    padding: 10px ;
}

.rightFee{
    padding: 10px;
}
.rightFee>p{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #46A1BB;
}
.rightFee ul{
    border-left: 4px #ddd solid;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.rightFee ul li{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.totalAmount{
    padding: 0 10px 0 20px;
}
.totalAmount p{
    border-left: 4px #46A1BB solid;
    padding:10px;
    font-size: 16px;
}
.rightTitle p span:first-child{
    padding-right: 10px;
}
.rightTrip li {
    padding-top: 20px;
}
.rightTrip li:first-child {
    padding-top: 0px;
    border-bottom: 1px #ddd solid;
}
.rightTrip li p{
    position: relative;
    padding: 0px 20px;
    margin-bottom: 10px;
}
.rightTrip li p:first-child::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.rightTrip li p:last-child{
    color: #666;
}

.price{
    color: red;
}
