/*.oContent {*/
    /*padding-top: 20px;*/
    /*background-color: white;*/
/*}*/

.oContentL {
    width: 700px;
    float: left;
    position: relative;
}


.nav {
    margin-bottom: 20px;
    font-size: 0;
}

.nav span {
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}

.first {
    background: url("../../images/flight/order1.png") no-repeat;
}

.sub {
    background: url("../../images/flight/train2.png") no-repeat;
    padding-left: 1px;
}

.three {
    background: url("../../images/flight/apply3.png") no-repeat;
    padding-left: 2px;
}

.oTitle {
    font-size: 20px;
    font-weight: bold;
}

.oNumber {
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.oState {
    padding: 20px 0 0 0;
}

.oStateTitle {
    font-size: 18px;
    color: #ec6c23;
    margin-bottom: 20px;
}

.oStateSub {
    font-size: 14px;
    color: #ec6c23;
}

/*.rule>span{*/
/*margin-left: 26px;*/
/*vertical-align: middle;*/
/*}*/
.oCount {
    font-size: 14px;
    color: #ec6c23;
}

.oProgress {

}

.oProgressItem {
    /*display: inline-block;*/
    float: left;
    width: 175px;
    text-align: center;
}

.oProgressItem > p {
    padding: 4px 0;
    background-color: #f7f7f7;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.oProgressItemActive > p {
    background-color: #46a1bb;
    color: white;
}

.oProgressItemActive > span {
    color: #46a1bb;
}

.oProgressItem > span {
    font-size: 12px;
}

/*处理环节*/
.handle {
    border: 1px solid #bbbbbb;
    padding: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}

.handleL {
    float: left;
    color: #46a1bb;
    margin-right: 20px;
}

.handleR {
    float: left;
}

.handleRTitle {
    font-size: 14px;
}

.handleRName {
    color: #9fa0a0;
}

.see_more {
    color: #46a1bb;
    cursor: pointer;
}

.handleRUl {
    display: none;
}

.oItemTitle {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
}

.oItem{
    margin-top: 20px;
}

.oItemLi {
    /*padding-bottom: 20px;*/
}

.oItemLi > p {
    margin-top: 15px;
}

.oItemLiLabel {
    color: #888888;
    margin-right: 10px;
}



.change {
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: #aaa;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.change:hover {
    background-color: #666;
}

.cancel {
    width: 120px;
    height: 30px;
    background-color: #46a1bb;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.cancel:hover {
    background-color: #0d809b;
}




/*右侧内容*/
.content_right {
    float: right;
    font-size: 12px;
    width: 440px;
}

.rightItem {
    margin-top: 20px;
}

.rightItem > div {
    float: left;
}

/*右侧第一行*/
.right_top1 {
    font-size: 14px;
    line-height: 20px;
    border-left: 2px solid #0094db;
    padding-left: 8px;
}

.Rtop_time {
    float: left;
    margin-right: 15px;
}

.Rtop_week {
    text-align: left;
    color: #3E3A39;
    float: left;
    margin-right: 15px;
}

.Rtoop_place {
    text-align: left;
    float: left;
}

.Rtoop_select {
    float: right;
    color: #46a1bb;
    cursor: pointer;
}

/*右侧第二行*/
.right_top2 {
    color: #aaaaaa;
    padding-left: 10px;
}

.right_top2 > div {
    margin-right: 15px;
}

.right_top2 > .flightIco {
    width: 14px;
    height: 14px;
    margin-right: 0;
}

.flightIco img{
    width: 14px;
    height: 14px;
}

/*右侧第三行*/
.right_top3 {
    margin-top: 20px;
    font-size: 14px;
}

.right_top3 span {
    float: left;
}

.Rtop3_timeL {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding-right: 15px;
    width: 105px;
}

.Rtop3_line {
    width: 34px;
    height: 1px;
    background-color: #aaa;
    margin-top: 10px;
}

.Rtop3_center {
    width: 130px;
    text-align: center;
    color: #aaa;
    line-height: 20px;
}

.right_top3 .Rtop3_timeR {
    text-align: left;
    padding-left: 15px;
    width: 105px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.dayTipb{
    display: none;
}

.dayTip{
    color: #46a1bb;
}



.Rtop3_timeR a{
    color: #aaa;
    font-size: 14px;
    margin-left: 4px;
}

.Rtop3_start {
    padding-right: 15px;
    width: 105px;
    text-align: right;
}

.Rtop3_company {
    width: 198px;
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
    line-height: 14px;
}

.right_top3 .Rtop3_end {
    padding-left: 15px;
    width: 105px;
    text-align: left;
    float: right;
}

.rt3-sub2{
    margin-top: 10px;
}

/*共享航班*/
.share{
    color: #aaa;
    margin-top: 6px;
    padding-left: 10px;
}
.share-t{
    float: left;
    margin-right: 15px;
}

.share-info{
    float: left;
    line-height: 20px;
}

.share-info img{
    width: 12px;
    height: 12px;
    margin: 0 4px;
}


/*表格内容 以后用*/
.backOrChange{
    margin-top: 15px;
    padding-left: 10px;
}

.backOrChange table{
    width: 100%;
    border: solid #aaa;
    border-width: 1px 0 0 1px;
}

.backOrChange table td{
    border: solid #aaa;
    border-width: 0 1px 1px 0;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    min-width: 80px;
}

.bOrCMoney{
    color: #ff6700;
}


.backOrChange table .tdInfo{
    text-align: left;
}


/*订单总额*/
.total_order {
    margin-top: 20px;
    border-left: 2px solid #0094db;
    line-height: 20px;
    padding-left: 8px;
}

.total_order1 {
    font-size: 16px;
    float: left;
}


.total_order3 {
    float: right;
    line-height: 20px;
}

.total_order4 {
    color: red;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}

/*明细*/
.detailed_box {
    margin-top: 15px;
    padding-left: 10px;
}


.detailed_ul {
    margin: 15px 0;
    border-left: 3px solid #ccc;
    padding-left: 8px;
}

.adult {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
}

.detailed_ul li {
    margin-top: 10px;
}

.detailed_ul span {
    float: left;
}

.detailed_ul .detailed_spanR {
    float: right;
}

.adult .detailed_spanR{
    float: right;
    font-weight: bold;
}

.adult .detailed_spanR a{
    margin:  0 8px;
}

.xuxian {
    float: left;
    border-top: 1px dashed transparent;
    /*border-top: 1px dashed #bbbbbb;*/
    margin-top: 6px;
}
