/*.oContent{*/
    /*padding-top: 20px;*/
    /*background-color: white;*/
/*}*/
.oContentL{
    width: 720px;
    margin-right: 38px;
    float: left;
    position: relative;
}
.oContentR{
    position: relative;
    width: 400px;
    float: right;
    background-color: white;
    min-height: 100%;
    border: 1px solid #bbbbbb;
    font-size: 14px;
    color: #3e3a3d;
}
.nav{
    margin-bottom: 20px;
    font-size: 0;
}
.nav span{
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}
.first{
    background: url("../image/order1.png") no-repeat;
}
.sub{
    background: url("../image/train2.png")  no-repeat;
    padding-left: 1px;
}
.three{
    background: url("../image/apply3.png")  no-repeat;
    padding-left: 2px;
}
.oTitle{
    font-size: 20px;
}
.oNumber{
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.oState{
   padding-top: 20px;
}
.oStateTitle{
    font-size: 18px;
    color: #ec6c23;
    margin-bottom: 20px;
}
.oStateSub{
    font-size: 14px;
    color: #ec6c23;
}

.rule>span{
    margin-left: 26px;
    vertical-align: middle;
}
.oCount{
    font-size: 14px;
    color: #ec6c23;
}
.oProgress{
    font-size: 0;
}
.oProgressItem{
    float: left;
    width: 180px;
    text-align: center;
}
.oProgressItem>p{
    padding: 4px 0;
    background-color: #f7f7f7;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.oProgressItemActive>p{
    background-color: #46a1bb;
    color: white;
}

.oProgressItemActive>span{
    color: #46a1bb;
}

.oProgressItem>span{
    font-size: 12px;
}
.oItemTitle{
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
    margin-top: 20px;
}
.oItemLi{
  margin-top: 20px;
}
.oItemLi>p{
    margin-top: 15px;
}
.oItemLiLabel{
    display: inline-block;
    width: 70px;
    color: #888888;
}


/*右侧内容*/
.oContentR {
    position: relative;
    width: 400px;
    float: left;
    background-color: white;
    min-height: 100%;
    font-size: 14px;
    color: #3e3a3d;
}

.rightTitle {
    padding: 10px 8px;
    background-color: #f7f8f8;
}

.rightHotel {
    padding: 10px 8px;
    border-bottom: 1px solid #dbdcdc;
    background-color: white;
}

.hotelImg {
    width: 80px;
    height: 80px;
    background-color: #0a628f;
}

.desc {
    margin-left: 18px;
    float: left;
    width: 280px;
}

.hotelName {
    margin-bottom: 10px;
}

.hotelAddress {
    font-size: 12px;
    color: #bbbbbb;
}

.protocol {
    font-size: 12px;
    border: 1px solid #00A7F8;
    color: #00A7F8;
    border-radius: 3px;
    margin-top:5px;
}

.hotelDetail > p {
    background-color: white;
    padding: 8px;
    font-size: 12px;
}

.total_order {
    padding: 0 8px;
    background-color: #fbfbfb;
}

.total_order > p {
    padding: 10px 0;
    font-size: 12px;
    border-top: 1px solid #dbdcdc;
}

.feeDetail {
    font-size: 10px;
    color: #9fa0a0;
}

.feeDetail > p {
    padding: 8px 0;
}

.total_order1, .total_order2 {
    font-size: 12px;
}

.total_order2 {
    color: red;
    float: right;
    font-size: 18px;
}

.tipHover {
    background-color: white;
}

.hideHover {
    display: none;
    color: #3e3a39;
    /*max-width: 176px;*/
}

.detailItem {
    display: inline-block;
    width: 80px;
    height: 60px;
    font-size: 12px;
    border: 1px solid #46a1bb;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #efefef;
    color: #3e3a39;
}

.detailItem > p {
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.itemD {
    background: #dddddd;
}

.guarantee{
	width: 90px;
    height: 30px;
    background-color: #46a1bb;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}


/*layer  skin*/

.layui-layer-tips .layui-layer-content{
     font-size: 0 !important;
}
/*.layui-layer-tips .layui-layer-content{*/
    /*padding: 10px !important;*/
    /*color: #3E3A39 !important;*/
    /*width: 275px !important;*/
/*}*/

/*body .demo-class .layui-layer-tips .layui-layer-content{*/
    /*color: #3E3A39;*/
/*}*/