.insurance{
    width: 1200px;
    margin: 0 auto;
}
.listitme{
    margin-top: 20px;
    background-color: #FFFFFF;
    position: relative;
    min-height: 200px;
    position: relative;
}
.listtext{
    width: 900px;
}
.listbut{
    position: absolute;
    width: 300px;
    background-color: #e5f1f5;
    height: 100%;
    right: 0px;
    top: 0px;

}
.listhader{
    margin-top: 20px;
    margin-right: 80px;
    overflow: hidden;
    line-height: 50px;
}
.title{
    width: 150px;
    height: 50px;
    background-color: #f5c869;
    color: #FFFFFF;
    font-size: 22px;
    padding-left: 30px;
    line-height: 50px;
    position: absolute;
    left: -8px;
}
.triangle{
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid #b17b0c;
    border-left: 8px solid transparent;
    left: -30px;
}
.monery{
    margin-left: 200px;
    float: right;
    color: #ff9393;
}
.monery .big{
    font-size: 24px;
}
.order{
    float: right;
    font-size: 12px;
    color: #999999;
}
.qingchu{
    clear: both;
}
.listcontent{
   margin: 20px 80px 0 80px;
}
.listcontent .itme{
    position: relative;
}
.listcontent .detailtext{
    position: absolute;
    width: 300px;
    min-height: 200px;
    top:30px;
    left: 0;
    font-size: 12px;
    background-color: #FFFFFF;
    border:1px solid #e5e5e5;
    border-radius: 2px;
    z-index: 10;
    padding: 20px;
    display: none;
    -webkit-box-shadow:0 0 4px rgba(210,210,210,0.5);
    -moz-box-shadow:0 0 4px rgba(210,210,210,0.5);
    box-shadow:0 0 4px rgba(210,210,210,0.5);
}
.itmehader{
    line-height: 40px;
    color: #3aaaca;
}
.itmehader h4{
    float:left;
    cursor: pointer;
}
.itmehader span{
    margin-left: 10px;
}
.itmecontent{
    margin-bottom: 20px;
}
.itmecontent li{
    margin-left: 20px;
    line-height: 40px;
}
.itmecontent li>div{
    float: left;
    width: 180px;
}
.itmecontent li>div:nth-child(1){
    width: 150px;
}
.itmecontent li>div:nth-child(3){
    width: 150px;
}
.itmecontent li>div:nth-child(4){
    width: 280px;
}
.itmecontent .gary{
    color:#999999;
}
.itmecontent li .last{
    text-align: right;
    color: #3aaaca;
}
.notpaid{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color:  #0078C9;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 18px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -20px;
    margin-left: -50px;
}
.success{
    display: none;
    width: 150px;
    height: 180px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -75px;
    margin-left: -75px;
}
.success img{
    width: 100%;
}