/*清除基本样式*/
*{margin:0;padding:0}
li{list-style:none}
a{text-decoration:none;color:#333;}
img{vertical-align:top;border:none}
.flight_ell {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.header-w {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
}

/* 订单详情头部nav start */
.inter-detail-wrapper {
    width: 100%;
    height: 100%;
}
.inter-detail-wrapper .header-nav {
    position: fixed;
    top: 45px;
    z-index: 998;
    width: 100%;
    border-bottom: 1px solid #eaf0f3;
    background-color: #fff;
}
.inter-detail-wrapper .header-nav ul {
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 48px;
    justify-content: center;
    align-items: center;
}
.inter-detail-wrapper .header-nav li {
    margin-right: 50px;
    color:  #92a9b9;
    cursor: pointer;
}
.inter-detail-wrapper .header-nav li  a {
    color: #92a9b9;
}
.inter-detail-wrapper .header-nav li.active {
    position: relative;
}
.inter-detail-wrapper .header-nav li.active::after {
    position: absolute;
    left: 0;
    bottom: -7px;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #92a9b9;
}
/* 订单详情信息部分start */
.order-info {
    margin-top: 93px;
    padding-top: 15px;
    width: 100%;
    height: auto;
    background-color: #eaf0f3;
}
.order-info>ul {
    margin: 0 auto;
    width: 96%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.order-info>ul>li {
    padding: 20px 0 20px 15px;
    flex: 0 0 25%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-right: 1px solid #ccc;
}
.order-info>ul>li:last-child {
    border: none;
}
.order-info-title ol li {
    width: 90%;
}
.order-info-title .title-header {
    color: #999;
    font-size: 12px;
}
.order-info-title .bold {
    margin-right: 12px;
    font-size: 16px;
    color: #3e98d4;
}
.order-info-title ol {
    margin-top: 16px;
}
.order-info-title ol li {
    font-size: 14px;
    line-height: 26px;
    color: #666;
}
.order-info-money > * {
    width: 60%;
    margin: 0 auto;
}
.order-info-money>.title{
    margin-bottom: 30px;
    font-weight: bold;
}
.order-info-money .money-title {
    color: #000;
}
.order-info-money .money-num {
    color: #ff0000;
}
.order-info-money ol li {
    color: #666;
    line-height: 26px;
    font-size: 14px;
}
.order-info-money .quit-rule {
    position: relative;
    margin-top: 12px;
    color: #46a1bb;
    font-size: 14px;
    cursor: pointer;
}
.quit-rule:hover .rule-box {

    position: absolute;
    display: block;
    left: 0;
    top: 31px;
    padding: 15px;
    display: inline-block;
    z-index: 999;
    width: 660px;
    color: #666;
    border: 1px solid #46a1bb;
    background-color: #fff;

}
.quit-rule .rule-box {
    display: none;
}
.rule-content {
    position: relative;
    border: 1px solid #ccc;
}
.rule-content::before {
    position: absolute;
    left: 8px;
    top: -23px;
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid #46a1bb;
    transform: rotate(-45deg);
    background-color: #fff;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}
.quit-rule .rule-box .refund-content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.quit-rule .rule-box .refund-content .line{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}
.quit-rule .rule-box .refund-content .left-line{
    left: 63px;
}
.quit-rule .rule-box .refund-content .right-line{
    left: 174px;
}
.bag-content {
    align-items: center;
}
.refund-title,
.bag-title {
    flex: 0 0 10%;
    text-align: center;
}
.refund-city,
.bag-city  {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    align-items: center;
    text-align: center;

}
.bag-city{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.bag-text,
.refund-text>div {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    border-bottom: 1px solid #ccc;
}
.refund-text>div:last-child{
    border-bottom:none;
}
.refund-city span,
.bag-city span{
    display: inline-block;
    width: 100%;
    padding: 14px 0px;
    border-top: 1px solid #ccc;
}

/* ====== */


.refund2 .box{
    flex: 0 0 90%;

}
.refund2 .box>div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.refund2 .box>div:last-child{
    border-bottom: none;
}
.refund2 .box .city{
    flex: 0 0 20%;
    text-align: center;
}
.refund2 .box .city>div{
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}
.refund2 .box .city>div:last-child{
    border-bottom: none;
}
.refund2 .box .cont{
    flex: 0 0 80%;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    /* border-bottom: 1px solid #ccc; */
}


/* ======== */
.bag-text span {
    padding: 14px 10px;
}
.bag-text span:first-child {
    border-bottom: 1px solid #ccc;
}
.refund-city span:first-child,
.bag-city span:first-child{
    border-top: none;
}
.refund-text,
.bag-text  {
    width: 100%;
    flex: 0 0 70%;
    box-sizing: border-box;
}
.quit-rule .rule-box .bag-content {
    display: flex;
    width: 100%;
}

.order-info-money .quit-rule span {
    position: relative;
}
.order-info-money .quit-rule>span::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 0px;
    border-bottom: 1px dashed #46a1bb;
}
.order-info-num > * {
    width: 75%;
    margin: 0 auto;
    color: #666;
    font-size: 14px;
}
.order-info-num .title {
    margin-bottom: 30px;
}
.order-info-num li {
    line-height: 26px;
}
.order-info-num li:last-child {
    color: #333;
}
.order-info-num .approve {
    position: relative;
    margin-left: 6px;
}
.order-info-num  .approve::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 0px;
    border-bottom: 1px dashed #ccc;
}
.order-info-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-info-btn>* {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.order-info-btn .btn-title {
    color: #d15b5c;
    font-size: 24px;
    font-weight: bold;
}
.order-info-btn .pay-btn {
    margin: 14px auto;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #46a1bb;
    cursor: pointer;
}
.order-info-btn .cancel-btn {
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #46a1bb;
    border-radius: 10px;
    border: 1px solid #46a1bb;
    cursor: pointer;
}
/* 行程信息start */
.travel-info {
    padding-top: 15px;
    width: 100%;
    height: auto;
    background-color: #eaf0f3;
}
.travel-info .travel-wrapper {
    margin: 0 auto;
    width: 96%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 20px;
}
.travel-info .travel-wrapper:last-child {
    margin-bottom: 0;
}
.travel-info .travel-step {
    flex: 0 0 25%;
    padding: 15px 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 15px;
    padding-right: 5px;
    border-right: 1px solid #ccc;
    align-items: center;
}
.detail-icon .duration-time {
    text-align: center;
}
.duration-time span {
    position: relative;
}
.duration-time span:before {
    position: absolute;
    content: '';
    left: 0;
    margin-left: -78px;
    top: 50%;
    width: 70px;
    height: 1px;
    background-color: #ccc;
}
.duration-time span:after {
    position: absolute;
    content: '';
    right: 0;
    margin-right: -78px;
    top: 50%;
    width: 70px;
    height: 1px;
    background-color: #ccc;
}

.contain-box span {
    position: relative;
}
.contain-box span:after {
    position: absolute;
    left: 8px;
    top: -8px;
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #46a1bb;
    transform: rotate(-45deg);
    background-color: #fff;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}
.detail-end .time:hover + .contain-box {
    display: inline-block;
    position: absolute;
    right: -48%;
    top: 28px;
    padding: 3px 0;
    width: 180px;
    font-size: 10px;
    color: #999;
    border: 1px solid #46a1bb;
    text-align: center;
    background-color: #fff;
}
.contain-box {
    display: none;
}
.detail-end {
    position: relative;
    cursor: pointer;
}
.duration-time + .stop{
    text-align: center;
}
.detail-end  .time span {
    position: relative;
    margin-left: 12px;
    color: #46a1bb;
    border-bottom: 1px dashed #46a1bb;
}
.travel-detail>div>p:last-child,
.travel-flight-info>div>p:last-child{
    margin-top: 16px;
}

.travel-info .travel-detail {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 60%;
    width: 100%;
    box-sizing: border-box;
    padding-right: 160px;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
}
.travel-detail .detail-start {
    text-align: right;
    flex: 0 0 25%;
}
.travel-detail .detail-icon {
    flex: 0 0 50%;
    align-items: center;
}
.travel-detail .detail-end {
    flex: 0 0 25%;
}
.travel-info .travel-flight-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    flex: 0 0 15%;
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
}
.travel-info .travel-step .time {
    margin-top: 22px;
}
.travel-info .travel-step .step-num {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    color: #a3d0dd;
    font-size: 14px;
}
.travel-info .travel-step .step-num img {
    width: 36px;
}
.travel-info .travel-step .step-info {
    flex: 0 0 75%;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
/* 乘客信息start */
.passenger-info {
    padding-top: 15px;
    width: 100%;
    height: auto;
    background-color: #eaf0f3;
}
.passenger-info .passenger-wrapper {
    margin: 0 auto;
    width: 96%;
    background-color: #fff;
}
.passenger-info .title {
    padding-left: 20px;
    line-height: 46px;
    font-size: 18px;
    color: #92a9b9;
}
.passenger-nav ul {
    display: flex;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f8f9
}
.passenger-nav ul .card,
.passenger-nav ul .identy-num {
    flex: 0 0 16%;
}
.identy-num.card-num {
    position: relative;
}
.identy-num.card-num>span {
    display: inline-block;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
}
.passenger-nav ul .type,
.passenger-nav ul .identity,
.passenger-nav ul .staus {
    flex: 0 0 8%;
}
.passenger-nav ul .phone,
.passenger-nav ul .name {
    flex: 0 0 12%;
}
.passenger-nav ul .contact {
    flex: 0 0 20%;
}
.passenger-info .passenger-list {
    width: 100%;
    display: flex;
}
.passenger-list .list-info {
    flex:  0 0 80%;
    border-right: 1px solid #ccc;
}
.passenger-list .list-info >ul {
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 58px;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.passenger-list .list-info >ul:last-child {
    border: none;
}
.passenger-list .list-info >ul li {
    text-indent: .5em;
}
.passenger-list .list-info >ul .card,
.passenger-list .list-info >ul .identy-num {
    flex: 0 0 20%;
}
.passenger-list .list-info >ul .type,
.passenger-list .list-info >ul .identity,
.passenger-list .list-info >ul .staus{
    flex: 0 0 10%;
}
.passenger-list .list-info >ul .name,
.passenger-list .list-info >ul .phone {
    flex: 0 0 15%;
}
.passenger-list .contact-info {
    flex: 0 0 20%;
}

.card-info-box {
    display: none;
}
.identy-num.card-num:hover .card-info-box {
    position: absolute;
    left: 0;
    top: 60px;
    display: inline-block;
    z-index: 99;
    background-color: #fff;
    width: 340px;
    height: 275px;
    box-shadow: 0 5px 5px 0 #eee;
    border: 1px solid #46a1bb;
}
.card-info-box>p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    line-height: 46px;
    border-bottom: 1px solid #eee;
}
.card-info-box>p:first-child {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.card-info-box>p:first-child::before {
    position: absolute;
    left: 20px;
    top: -5px;
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #46a1bb;
    transform: rotate(-45deg);
    background-color: #fff;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.passenger-list .list-info >ul .name{
    position: relative;
}
.passenger-list .list-info >ul .name span .box {
    display: none;
}
.passenger-list .list-info >ul li {
    padding: 30px 0;
}
.passenger-list .list-info >ul .name .box::after {
    position: absolute;
    left: 8px;
    top: -5px;
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #46a1bb;
    transform: rotate(-45deg);
    background-color: #fff;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}
.passenger-list .list-info >ul .name:hover .box {
    display: block!important;
    position: absolute;
    right: 0%;
    top: 55px;
    z-index: 99;
    padding: 3px 8px;
    width: 140px;
    font-size: 10px;
    color: #999;
    border: 1px solid #46a1bb;
    background-color: #fff;
}
.passenger-list .contact-info {
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    color: #666;
}
.passenger-list .contact-info .name,
.passenger-list .contact-info  .phone {
    color: #92a9b9;
}
/* 违规样式start */
.illega-info {
    padding-top: 15px;
    width: 100%;
    height: auto;
    background-color: #eaf0f3;
}
.illega-wrapper {
    margin: 0 auto;
    width: 96%;
    background-color: #fff;
}
.illega-wrapper .title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    line-height: 46px;
    font-size: 14px;
    color: #92a9b9;
    background-color: #fef9f1;
}
.illega-wrapper .nav ul {
    padding-left: 20px;
    display: flex;
    height: 46px;
    background-color: #eaf0f3;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}
.illega-wrapper .nav ul li:nth-child(1),
.illega-wrapper .nav ul li:nth-child(2) {
    flex: 0 0 28%
}
.illega-wrapper .nav ul li:nth-child(3) {
    flex: 0 0 44%
}
.illega-detail {
    padding: 0 30px;
    display: flex;
    width: 100%;;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ccc;
}
.illega-detail:last-child {
    border: none;
}
.illega-detail span:nth-child(1),
.illega-detail span:nth-child(2) {
    flex: 0 0 28%
}
.illega-detail span:nth-child(3) {
    flex: 0 0 36%;
}
.illega-detail span:nth-child(4) {
    flex: 0 0 8%;
    text-align: center;
    color: #45b1e0;
}
/* 供应商信息start */
.provider-info {
    padding-top: 15px;
    width: 100%;
    height: auto;
    background-color: #eaf0f3;
}
.provider-wrapper {
    margin: 0 auto;
    width: 96%;
    background-color: #fff;
}
.provider-wrapper .title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    line-height: 46px;
    font-size: 18px;
    color: #92a9b9;
    background-color: #fff;
}
.provider-wrapper .nav ul {
    display: flex;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    height: 46px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f5f8f9;
}
.provider-wrapper .nav .nav_price {
    flex: 0 0 16%;
}
.provider-wrapper .nav .nav_num {
    flex: 0 0 12%;
}
.provider-wrapper .nav .nav_total {
    flex: 0 0 8%;
}
.provider-wrapper .provider-detail ul {
    background-color: #fff!important;
    font-size: 14px;
    height: 66px;
    color: #666;
}
.provider-wrapper .provider-detail ul .red {
    color: #d15b5c;
}