/*
* 2010-07-12 v1.0
* 2010-07-21 v1.1 添加block元素居中之auto属性，增加鼠标手形样式
* 2010-09-17 v1.2 添加z-index层级属性
* 2010-09-29 v1.3 添加break-word属性
* 2010-11-12 v1.4 添加white-space:nowrap;值，去掉Georgia字体
* 2011-01-17 v1.5 去除red颜色，添加cell双栏自适应属性，z样式影响扩至IE7，样式位置以及顺序调整，dib样式忽略Firefox 2，去除Lucida Console字体，添加Verdana字体，添加letter-spacing样式
* 2011-07-28 v1.6 增加vertical-align:bottom属性，增加点点点效果多样
* 2012-01-18 v1.7 点点点效果样式去除-moz-前缀，多余；增加修复cell下连续单词字符换行问题；去除.ovs{overflow:scroll;}
                  去除.vimg{margin-bottom:-3px;}
* 2013-05-24 v2.0 为开源到github上做大改
                  1. 增加margin负值范围
                  2. margin/padding增加15px/30px组
                  3. 中文字体改成英文字符表示，例如“微软雅黑” → "microsoft yahei"
                  4. 新增border系列, background-color系列, width(fixed value/percent value)系列以及.ell以下所有样式
* 2013-07-31 v2.1 inline_any等12px字体大小限制去除，inline_box的-3px间距缩进改成-.25em, 以便适应各种字体大小环境
* 2013-09-13 v2.2 12px字体大小限制修改为1px笔误了，应该为1em, 删除-ms-transition
* 2013-10-11 v2.3 float_seven一直没删除，清掉。增加两个绝对定位隐藏：abs_out和abs_clip
* 2013-11-23 v2.4 add p0, ova, f18. 去除trans中-moz-和-o-私有前缀
* 2014-02-26 v2.5 fix two name mistake
* 2014-02-27 v2.6 add fl
* 2015-02-08 v2.7 具体改动有：
                  1. 添加h0
                  2. 修改 .vn -2px → -4px
                  3. zoom增加webkit重绘修复
                  4. 去除.trans非webkit私有前缀
                  5. loading背景图使用about:blank代替
* 2015-02-09 v2.8 具体改动有：
                  1. 添加.lh0
                  2. 移除.f10, .f13, 添加f28，因为现代web站点字号越来越大
                  3. .n添加white-space: normal声明
                  4. 移除.vn使用具体负值代替，因为图标+不同字号，vertical-align的负值也不同，新增.v-1 ~ .v-5 按钮与文字的垂直对齐也可使用，兼容IE6+
                  5. 移除.z中-webkit-transform: translateZ(0)此声明虽然能修复一些重绘问题，但同时也会带来垂直位置，position:fixed限制，影响overflow对absolute元素限制等一系列问题，移除之~
                  6. 移除cell_bk, 若遭遇不换行问题，使用.cell_ovh代替~
                  7. .trans中时间0.3s → .3s
                  8. .disabled禁用大改造，使适用性更广泛
                  9. 增加.opa0 透明度0
                  10. float percent more accurate for IE8+
* 2016-03-25 v2.9 本次改动有：
                  1. fix w300宽度值为280px的错误
                  2. dib增加div,p等标签的IE7特别处理，之前建议使用inline_any
                  3. add h30, lh30，因为随着大屏普及，页面元素尺寸更大了
                  4. transition时间从.3s → .15s
                  5. pointer-events增加-ms-私有前缀for IE10+
*/
/*---------------------reset CSS-----------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus, input, button, select, textarea {
    outline: 0;
}

body {
    /*line-height: 1;*/
    color: #3e3a39;
    /* background: white; */
}

ol, ul, li {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

textarea {
    resize: none; /*必须添加overflow此属性才能生效*/
    overflow: auto;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a, a:hover.a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

/* ---------------------single CSS----------------------- */
/* display */
.dn {
    display: none;
}

.di {
    display: inline;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

div.dib {
    *display: inline;
    *zoom: 1;
}

/* other block level tag(eg. p, li, h1~h6), using 'inline_any' instead */
/* height */
.h0 {
    height: 0;
}

.h16 {
    height: 14px;
}

.h16 {
    height: 16px;
}

.h18 {
    height: 18px;
}

.h20 {
    height: 20px;
}

.h22 {
    height: 22px;
}

.h24 {
    height: 24px;
}

.h30 {
    height: 30px;
}

/* width */
/* fixed width value */
.w20 {
    width: 20px;
}

.w50 {
    width: 50px;
}

.w70 {
    width: 70px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w140 {
    width: 140px;
}

.w160 {
    width: 160px;
}

.w180 {
    width: 180px;
}

.w200 {
    width: 200px;
}

.w220 {
    width: 220px;
}

.w250 {
    width: 250px;
}

.w280 {
    width: 280px;
}

.w300 {
    width: 300px;
}

.w320 {
    width: 320px;
}

.w360 {
    width: 360px;
}

.w400 {
    width: 400px;
}

.w460 {
    width: 460px;
}

.w500 {
    width: 500px;
}

.w600 {
    width: 600px;
}

.w640 {
    width: 640px;
}

.w700 {
    width: 700px;
}

/* percent width value */
.pct5{
    width: 5%;
}
.pct10 {
    width: 10%;
}

.pct15 {
    width: 15%;
}

.pct20 {
    width: 20%;
}

.pct25 {
    width: 25%;
}

.pct30 {
    width: 30%;
}

.pct33 {
    width: 33.3%;
}

.pct40 {
    width: 40%;
}

.pct50 {
    width: 50%;
}

.pct60 {
    width: 60%;
}

.pct66 {
    width: 66.6%;
}

.pct70 {
    width: 70%;
}

.pct75 {
    width: 75%;
}

.pct80 {
    width: 80%;
}

.pct90 {
    width: 90%;
}

.pct100 {
    width: 100%;
}

/* line-height */
.lh0 {
    line-height: 0;
}

.lh16 {
    line-height: 14px;
}

.lh16 {
    line-height: 16px;
}

.lh18 {
    line-height: 18px;
}

.lh20 {
    line-height: 20px;
}

.lh22 {
    line-height: 22px;
}

.lh24 {
    line-height: 24px;
}

.lh30 {
    line-height: 30px;
}

/* margin */
.m0 {
    margin: 0;
}

.ml1 {
    margin-left: 1px;
}

.ml2 {
    margin-left: 2px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mt1 {
    margin-top: 1px;
}

.mt2 {
    margin-top: 2px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt360 {
    margin-top: 360px;
}

.mb1 {
    margin-bottom: 1px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

/* margin negative */
.ml-1 {
    margin-left: -1px;
}

.mr-1 {
    margin-right: -1px;
}

.mt-1 {
    margin-top: -1px;
}

.mb-1 {
    margin-bottom: -1px;
}

.ml-3 {
    margin-left: -3px;
}

.mr-3 {
    margin-right: -3px;
}

.mt-3 {
    margin-top: -3px;
}

.mb-3 {
    margin-bottom: -3px;
}

.ml-20 {
    margin-left: -20px;
}

.mr-20 {
    margin-right: -20px;
}

.mt-20 {
    margin-top: -20px;
}

.mb-20 {
    margin-bottom: -20px;
}

/* padding */
.p0 {
    padding: 0;
}

.p1 {
    padding: 1px;
}

.pl1 {
    padding-left: 1px;
}

.pt1 {
    padding-top: 1px;
}

.pr1 {
    padding-right: 1px;
}

.pb1 {
    padding-bottom: 1px;
}

.p2 {
    padding: 2px;
}

.pl2 {
    padding-left: 2px;
}

.pt2 {
    padding-top: 2px;
}

.pr2 {
    padding-right: 2px;
}

.pb2 {
    padding-bottom: 2px;
}

.pl5 {
    padding-left: 5px;
}

.p5 {
    padding: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.p10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.p15 {
    padding: 15px;
}

.pl15 {
    padding-left: 15px;
}

.pt15 {
    padding-top: 15px;
}

.pr15 {
    padding-right: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.p20 {
    padding: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.p30 {
    padding: 30px;
}

.pl30 {
    padding-left: 30px;
}

.pt30 {
    padding-top: 30px;
}

.pr30 {
    padding-right: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh {
    background-color: #fff;
}

.bgfb {
    background-color: #fbfbfb;
}

.bgf5 {
    background-color: #f5f5f5;
}

.bgf0 {
    background-color: #f0f0f0;
}

.bgeb {
    background-color: #ebebeb;
}

.bge0 {
    background-color: #e0e0e0;
}

/* safe color */
.g0 {
    color: #000;
}

.g3 {
    color: #333;
}

.g6 {
    color: #666;
}

.g9 {
    color: #999;
}

.gc {
    color: #ccc;
}

.wh {
    color: white;
}

/* font-size */
.f0 {
    font-size: 0;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

/* font-style */
.n {
    font-weight: normal;
    font-style: normal;
    white-space: normal;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

/* text-align */
.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tj {
    text-align: justify;
}

/* text-decoration */
.tdl {
    text-decoration: underline;
}

.tdn, .tdn:hover, .tdn a:hover, a.tdl:hover {
    text-decoration: none;
}

/* letter-spacing */
.lt-1 {
    letter-spacing: -1px;
}

.lt0 {
    letter-spacing: 0;
}

.lt1 {
    letter-spacing: 1px;
}

/* white-space */
.nowrap {
    white-space: nowrap;
}

/* word-wrap */
.bk {
    word-wrap: break-word;
}

/* vertical-align */
.vm {
    vertical-align: middle;
}

.vtb {
    vertical-align: text-bottom;
}

.vb {
    vertical-align: bottom;
}

.vt {
    vertical-align: top;
}

.v-1 {
    vertical-align: -1px;
}

.v-2 {
    vertical-align: -2px;
}

.v-3 {
    vertical-align: -3px;
}

.v-4 {
    vertical-align: -4px;
}

.v-5 {
    vertical-align: -5px;
}

/* float */
.l {
    float: left;
}

.r {
    float: right;
}

/* clear */
.cl {
    clear: both;
}

/* position */
.rel {
    position: relative;
}

.abs {
    position: absolute;
}

/*z-index*/
.zx1 {
    z-index: 1;
}

.zx2 {
    z-index: 2;
}

/* cursor */
.poi {
    cursor: pointer;
}

.def {
    cursor: default;
}

/* overflow */
.ovh {
    overflow: hidden;
}

.ova {
    overflow: auto;
}

/* visibility */
.vh {
    visibility: hidden;
}

.vv {
    visibility: visible;
}

/* opacity */
.opa0 {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* zoom */
.z {
    *zoom: 1;
}

/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto {
    margin-left: auto;
    margin-right: auto;
}

/* 清除浮动*/
.fix {
    *zoom: 1;
}

.fix:after {
    display: table;
    content: '';
    clear: both;
}

/* 基于display:table-cell的自适应布局 */
.cell {
    display: table-cell;
    *display: inline-block;
    width: 2000px;
    *width: auto;
}

/* 双栏自适应cell部分连续英文字符换行 */
.cell2 {
    overflow: hidden;
    _display: inline-block;
}

/* 单行文字溢出虚点显 示*/
.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* css3过渡动画效果 */
.trans {
    -webkit-transition: all .15s;
    transition: all .15s;
}

/*多行内容居中，且容器高度可变（容器不能固定高度）*/
.vm2 {
    padding-top: 24px;
    padding-bottom: 24px;
}

/*适用于父元素高度确定，本身高度不确定的元素*/
.vm3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* 大小不定元素垂直居中 */
.dib_vm {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

/* 无框文本框文本域 */
.bd_none {
    border: 0;
    outline: none;
}

/* 绝对定位隐藏 */
.abs_out {
    position: absolute;
    left: -999em;
    top: -999em;
}

.abs_clip {
    position: absolute;
    clip: rect(0 0 0 0);
}

/* 按钮禁用 */
.disabled {
    outline: 0 none;
    cursor: default !important;
    opacity: .4;
    filter: alpha(opacity=40);
    -ms-pointer-events: none;
    pointer-events: none;
}

/*inline-block与float等宽列表*/
.inline_box {
    font-size: 1em;
    letter-spacing: -.25em;
    font-family: Arial;
}

.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any {
    display: inline-block;
    *display: inline;
    letter-spacing: 0;
    vertical-align: top;
    *zoom: 1;
}

.float_two, .float_three, .float_four, .float_five, .float_six {
    float: left;
}

.inline_two, .float_two {
    width: 50%;
    *width: 49.9%;
}

.inline_three, .float_three {
    width: 33.33333%;
    *width: 33.3%;
}

.inline_four, .float_four {
    width: 25%;
    *width: 24.9%;
}

.inline_five, .float_five {
    width: 20%;
    *width: 19.9%;
}

.inline_six, .float_six {
    width: 16.66666%;
    *width: 16.6%;
}

.inline_fix {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}

/*页面验证信息提示*/
label.promptError {
    line-height: 1;
    position: absolute;
    background-color: #e53935;
    display: block;
    padding: 6px 12px;
    color: white;
    font-size: 12px;
    left: 8px;
    top: -24px;
}
label.promptError:after{
    content:url("../../common/images/upTrangleRed.png");
    position: absolute;
    top: 18px;
    left: 4px;
}

input {
    font-size: 14px;
    border-width: 1px;
    padding: 0;
    margin: 0;
}
