/*.oContent {*/
    /*padding-top: 20px;*/
    /*background-color: white;*/
/*}*/

.oContentL {
    width: 720px;
    float: left;
    position: relative;
}

.nav {
    margin-bottom: 20px;
    font-size: 0;
}

.nav span {
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}

.first {
    background: url("../../images/flight/order1.png") no-repeat;
}

.sub {
    background: url("../../images/flight/train2.png") no-repeat;
    padding-left: 1px;
}

.three {
    background: url("../../images/flight/apply3.png") no-repeat;
    padding-left: 2px;
}

.oTitle {
    font-size: 20px;
    font-weight: bold;
}

.oNumber {
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    margin-top: 20px;
}

.oState {
    padding: 20px 0;
}

.oStateTitle {
    font-size: 18px;
    color: #ec6c23;
    margin-bottom: 20px;
}

.oStateSub {
    font-size: 14px;
    color: #ec6c23;
}

/*.rule>span{*/
/*margin-left: 26px;*/
/*vertical-align: middle;*/
/*}*/
.btn {
    display: none;
}

.oCount_box {
    display: none;
}

.oCount {
    font-size: 14px;
    color: #ec6c23;
    margin-bottom: 20px;
}

.oProgress {

}

.oProgressItem {
    /*display: inline-block;*/
    float: left;
    width: 170px;
    text-align: center;
}

.oProgressItem > p {
    padding: 4px 0;
    background-color: #f7f7f7;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.oProgressItemActive > p {
    background-color: #1176cc;
    color: white;
}

.oProgressItem > span {
    font-size: 12px;
    color: #1176cc;
}

/*处理环节*/
/*.handle {*/
/*border: 1px solid #bbbbbb;*/
/*padding: 20px 30px;*/
/*font-size: 12px;*/
/*line-height: 20px;*/
/*margin-top: 10px;*/
/*}*/

/*.handleL {*/
/*float: left;*/
/*color: #1176cc;*/
/*margin-right: 20px;*/
/*}*/

/*.handleR {*/
/*float: left;*/
/*}*/

/*.handleRTitle {*/
/*font-size: 14px;*/
/*}*/

/*.handleRName {*/
/*color: #9fa0a0;*/
/*}*/

/*.see_more {*/
/*color: #1176cc;*/
/*cursor: pointer;*/
/*}*/

/*.handleRUl{*/
/*display: none;*/
/*}*/
/*=============*/

.oItemTitle {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
}

.oItemLi {
    padding-bottom: 20px;
}

.oItemLi > p {
    margin-top: 15px;
}

.oItemLiLabel {
    color: #888888;
    margin-right: 10px;
}

/*右侧内容*/
.oContentR {
    position: relative;
    width: 400px;
    float: right;
    background-color: white;
    min-height: 100%;
    font-size: 14px;
    color: #3e3a3d;
    border: 1px solid #bbbbbb;
    /*padding: 10px;*/
}

.rightTitle {
    padding: 10px 8px;
    background-color: #f7f8f8;
}

.rightHotel {
    padding: 10px 8px;
    border-bottom: 1px solid #dbdcdc;
    background-color: white;
}

.hotelImg {
    width: 80px;
    height: 80px;
    background-color: #0a628f;
}

.desc {
    margin-left: 18px;
    float: left;
    width: 280px;
}

.hotelName {
    margin-bottom: 10px;
}

.hotelAddress {
    font-size: 12px;
    color: #bbbbbb;
}

.hotelDetail > p {
    background-color: white;
    padding: 8px;
    font-size: 12px;
}

.total_order {
    padding: 0 8px;
    background-color: #fbfbfb;
}

.total_order > p {
    padding: 10px 0;
    font-size: 12px;
    border-top: 1px solid #dbdcdc;
}

.feeDetail {
    font-size: 10px;
    color: #9fa0a0;
}

.feeDetail > p {
    padding: 8px 0;
}

.total_order1, .total_order2 {
    font-size: 12px;
}

.total_order2 {
    color: red;
    float: right;
    font-size: 18px;
}

.tipHover {
    background-color: white;
}

.hideHover {
    display: none;
    color: #3e3a39;
    /*max-width: 176px;*/
}

.detailItem {
    display: inline-block;
    width: 80px;
    height: 60px;
    font-size: 12px;
    border: 1px solid #1176cc;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #efefef;
    color: #3e3a39;
}

.detailItem > p {
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.itemD {
    background: #dddddd;
}


/*layer  skin*/
.layui-layer-tips .layui-layer-content{
    font-size: 0 !important;
}
/*.layui-layer-tips .layui-layer-content{*/
    /*padding: 10px !important;*/
    /*color: #3E3A39 !important;*/
    /*width: 275px !important;*/
/*}*/

/*body .demo-class .layui-layer-tips .layui-layer-content{*/
    /*color: #3E3A39;*/
/*}*/

