/*.oContent{*/
    /*padding-top: 20px;*/
    /*background-color: white;*/
/*}*/
.subsidiary-but{
    height: 30px;
    width: 100px;
    margin-left: 20px;
    color: #46a1bb;
    border-radius:2px;
    background-color: #FFFFFF;
    border:0;
}
.subsidiary-but:hover{
    border:1px solid #46a1bb;
    cursor: pointer;
}
.oContentL{
    width: 700px;
    float: left;
    position: relative;
}

.nav{
    margin-bottom: 20px;
    font-size: 0;
}
.nav span{
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}
.first{
    background: url("../../image/order1.png") no-repeat;
}
.sub{
    background: url("../../image/train2.png")  no-repeat;
    padding-left: 1px;
}
.three{
    background: url("../../image/apply3.png")  no-repeat;
    padding-left: 2px;
}
.oTitle{
    font-size: 20px;
    font-weight: bold;
}
.oNumber{
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.oState{
    padding-top: 20px;
}
.oStateTitle{
    font-size: 18px;
    color: #ec6c23;
    margin-bottom: 20px;
}
.oStateSub{
    font-size: 14px;
    color: #ec6c23;
}

.rule>span{
    margin-left: 26px;
    vertical-align: middle;
}
.oCount{
    font-size: 14px;
    color: #ec6c23;
}
.oProgress{
    font-size: 0;
}
.oProgressItem{
   float: left;
    width: 232px;
    text-align: center;
}
.oProgressItem>p{
    padding: 4px 0;
    background-color: #f7f7f7;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.oProgressItemActive>p{
    background-color:#46a1bb;
    color: white;
}

.oProgressItemActive>span{
    color:#46a1bb;
}

.oProgressItem>span{
    font-size: 12px;
}
.oItemTitle{
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 1px solid #bbbbbb;
}
.oItemLi{
   margin-top: 20px;
}
.oItemLi>p{
    margin-top: 15px;
}
.oItemLiLabel{
    color: #888888;
    margin-right: 10px;
}


.up{
    background: url('../../image/upBlue11.png') no-repeat 360px;
}

.advanceDate{
    padding:10px 10px 10px 30px;
    background: url("../../image/dateBlack.png") no-repeat  left center;
}

.discount{
    padding:10px 10px 10px 30px;
    background: url("../../image/discount.png") no-repeat  left center;
}

.timeLow{
    padding:10px 10px 10px 30px;
    background: url("../../image/timelow.png") no-repeat  left center;
}


/*右侧内容*/
.content_right {
    float: right;
    font-size: 12px;
    width: 440px;
}

.rightItem {
    margin-top: 20px;
}

.rightItem > div {
    float: left;
}

/*右侧第一行*/
.right_top1 {
    font-size: 14px;
    line-height: 20px;
    border-left: 2px solid #0094db;
    padding-left: 8px;
}

.Rtop_time {
    float: left;
    margin-right: 15px;
}

.Rtop_week {
    text-align: left;
    color: #3E3A39;
    float: left;
    margin-right: 15px;
}

.Rtoop_place {
    text-align: left;
    float: left;
}

.Rtoop_select {
    float: right;
    color: #46a1bb;
    cursor: pointer;
}

/*右侧第二行*/
.right_top2 {
    color: #aaaaaa;
    padding-left: 10px;
}

.right_top2 > div {
    margin-right: 15px;
}

.right_top2 > .flightIco {
    width: 14px;
    height: 14px;
    margin-right: 0;
}

.flightIco img{
    width: 14px;
    height: 14px;
}

/*右侧第三行*/
.right_top3 {
    margin-top: 20px;
    font-size: 14px;
}

.right_top3 span {
    float: left;
}

.Rtop3_timeL {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding-right: 15px;
    width: 105px;
}

.Rtop3_line {
    width: 34px;
    height: 1px;
    background-color: #aaa;
    margin-top: 10px;
}

.Rtop3_center {
    width: 130px;
    text-align: center;
    color: #aaa;
    line-height: 20px;
}

.right_top3 .Rtop3_timeR {
    text-align: left;
    padding-left: 15px;
    width: 105px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.dayTipb{
    display: none;
}

.dayTip{
    color: #46a1bb;
}



.Rtop3_timeR a{
    color: #aaa;
    font-size: 14px;
    margin-left: 4px;
}

.Rtop3_start {
    padding-right: 15px;
    width: 105px;
    text-align: right;
}

.Rtop3_company {
    width: 198px;
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
    line-height: 14px;
}

.right_top3 .Rtop3_end {
    padding-left: 15px;
    width: 105px;
    text-align: left;
    float: right;
}

.rt3-sub2{
    margin-top: 10px;
}

/*共享航班*/
.share{
    color: #aaa;
    margin-top: 6px;
    padding-left: 10px;
}
.share-t{
    float: left;
    margin-right: 15px;
}

.share-info{
    float: left;
    line-height: 20px;
}

.share-info img{
    width: 12px;
    height: 12px;
    margin: 0 4px;
}


/*表格内容 以后用*/
.backOrChange{
    margin-top: 15px;
    padding-left: 10px;
}

.backOrChange table{
    width: 100%;
    border: solid #aaa;
    border-width: 1px 0 0 1px;
}

.backOrChange table td{
    border: solid #aaa;
    border-width: 0 1px 1px 0;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    min-width: 80px;
}

.bOrCMoney{
    color: #ff6700;
}


.backOrChange table .tdInfo{
    text-align: left;
}


/*订单总额*/
.total_order {
    margin-top: 20px;
    border-left: 2px solid #0094db;
    line-height: 20px;
    padding-left: 8px;
}

.total_order1 {
    font-size: 16px;
    float: left;
}


.total_order3 {
    float: right;
    line-height: 20px;
}

.total_order4 {
    color: red;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}

/*明细*/
.detailed_box {
    margin-top: 15px;
    padding-left: 10px;
}

.cost-detail{
    width: 100%;
    padding: 0 10px;
    color: #5ea1bb;
    font-size: 15px;
}
.cost-detail>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.cost-detail .gary{
    padding-left: 20px;
    color: #999;
}
.cost-detail .red{
    color: #ff0000;
    font-size: 20px;
}
.cost-detail .total-money{
    justify-content: initial;
    font-size: 20px;
}
.cost-detail .total-money>div:first-child{
    margin-right: 10px;
    font-size: 20px;
}

.detailed_ul {
    margin: 15px 0;
    border-left: 3px solid #ccc;
    padding-left: 8px;
}

.adult {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
}

.detailed_ul li {
    margin-top: 10px;
}

.detailed_ul span {
    float: left;
}

.detailed_ul .detailed_spanR {
    float: right;
}

.adult .detailed_spanR{
    float: right;
    font-weight: bold;
}

.adult .detailed_spanR a{
    margin:  0 8px;
}

.xuxian {
    float: left;
    border-top: 1px dashed transparent;
    /*border-top: 1px dashed #bbbbbb;*/
    margin-top: 6px;
}

/*.oContent{*/
    /*padding-top: 20px;*/
    /*background-color: white;*/
/*}*/
.oContentL{
    width: 720px;
    margin-right: 40px;
    float: left;
    position: relative;
}
.oContentR{
    position: relative;
    /* width: 380px; */
    float: left;
    padding: 10px;
    background-color: #f7f7f7;
    min-height: 100%;
    font-size: 12px;
}
.nav{
    margin-bottom: 20px;
    font-size: 0;
}
.nav span{
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}
.first{
    background: url("../../images/flight/order1.png") no-repeat;
}
.sub{
    padding-left: 1px;
    background: url("../../images/flight/train2.png")  no-repeat;
}
.three{
    padding-left: 2px;
    background: url("../../images/flight/apply3.png")  no-repeat;
}
.oTitle{
    font-size: 20px;
}
.oNumber{
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.oState{
    padding-top: 15px ;
}
.oStateTitle{
    font-size: 18px;
    color: #ec6c23;
    margin-bottom: 15px;
}
.oStateSub{
    font-size: 14px;
    color: #ec6c23;
}

.rule>span{
    margin-left: 26px;
    vertical-align: middle;
}
.oCount{
    font-size: 14px;
    color: #ec6c23;
}
.oProgress{
    font-size: 0;
}
.oProgressItem{
   float: left;
    width: 180px;
    text-align: center;
}
.oProgressItem>p{
    padding: 4px 0;
    background-color: #f7f7f7;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.oProgressItemActive>p{
    background-color: #46a1bb ;
    color: white;
}

.oProgressItemActive>span{
    color: #46a1bb ;
}


.oProgressItem>span{
    font-size: 12px;
}
.oItemTitle{
    font-size: 18px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
}
.oItemLi{
    margin-top: 20px;
}
.oItemLi>p{
    margin-top: 15px;
}
.oItemLiLabel{
    color: #888888;
    margin-right: 10px;
}
/*右侧第一行*/
.top1{
    font-size: 0;
}
.right_top {
    /*margin: 20px 10px;*/
}

.Rtop_time {
    display: inline-block;
    font-size: 14px;
    width: 56px;
}

.Rtop_week {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #3E3A39;
    width: 54px;
}

.Rtoop_place {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 158px;
}

.Rtoop_rank {
    display: inline-block;
    font-size: 14px;
    color: #3E3A39;
    width: 110px;
    text-align: right;
}

/*右侧第二行*/
.right_top2 {
    margin-top: 30px;
    font-size: 14px;
}

.Rtop2_timeL {
    display: inline-block;
    font-size: 20px;
    color: #3E3A39;
    width: 60px;
}

.Rtop2_line {
    display: inline-block;
    width: 56px;
    height: 8px;
    border-top: 1px solid #999999;
    margin: 0 3px;
}
.Rtop2_center{
    display: inline-block;
    width: 110px;
    text-align: center;
}


/*.Rtop2_jiantou {*/
/*display: inline-block;*/
/*width: 42px;*/
/*height: 8px;*/
/*border-top: 1px solid #999999;*/
/*margin: 0 10px;*/
/*}*/

.Rtop2_timeR {
    text-align: right;
    width: 68px;
    display: inline-block;
    font-size: 20px;
    color: #3E3A39;
}


.Rtop2_start{
    display: inline-block;
    width: 90px;
}
.Rtop2_company{
    display: inline-block;
    width: 190px;
    text-align: center;
}
.Rtop2_end{
    display: inline-block;
    width: 90px;
    text-align: right;
}



/*退改签及特殊票务说明*/
.backmeal_box {
    margin-top: 40px;
}

.backmeal_show {
    color: #2D93CA;
    background: url('../../common/images/downBlue11.png') no-repeat 360px;
    cursor: pointer;
}

.backmeal_line {
    border-top: 1px solid #999999;
    /*width: 400px;*/
    margin: 20px 0;
}

.backmeal_table {
    border: solid #999999;
    border-width: 1px 0 0 1px;
    height: 200px;
    /*font-size: 12px;*/
}

.backmeal_table td {
    /*height: 30px;*/
    border: solid #999999;
    border-width: 0 1px 1px 0;
    text-align: center;
    vertical-align: middle;
}

.backmeal_table th {
    border: solid #999999;
    border-width: 0 1px 1px 0;
    text-align: left;
    vertical-align: middle;
}

.backmeal_table span {
    color: red;
}

.backmeal_table .last_th {
    padding: 4px;
    vertical-align: top;
}

/*订单总额*/
.total_order {
    margin-top: 40px;
}

.total_order1 {
    font-size: 16px;
}

.total_order2 {
    font-size: 12px;
}

.total_order3 {
    float: right;
}

.total_order4 {
    color: red;
    font-size: 20px;
}

/*明细*/
.detailed_box {
    margin-top: 15px;
    /*width: 380px;*/
}

.detailed_show {
    /*font-size: 12px;*/
    cursor: pointer;
    color: #46a1bb ;
    background: url('../../image/downBlue11.png') no-repeat 360px;
}


.detailed_ul {
    margin-top: 20px;
}

.detailed_ul li {
    margin-top: 10px;
}

.detailed_ul span {
    float: left;
}

.detailed_ul .detailed_spanR {
    float: right;
}

.xuxian {
    /*display: inline-block;*/
    float: left;
    /*width: 80%;*/
    /*height: 4px;*/
    border-top: 1px dashed #999999;
    margin-top: 6px;
}


.cancel{
    width: 90px;
    height: 30px;
    font-size: 14px;
}



.save{
    background-color: #46a1bb ;
    color: white;
    width: 90px;
    height: 30px;
    border:none;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}

.save:hover{
    background-color:  #0d809b  ;
    border-color:  #0d809b  ;
}

.up{
    background: url('../../image/upBlue11.png') no-repeat 360px;
}