/*.oContent {*/
    /*padding-top: 20px;*/
    /*background-color: white;*/
/*}*/

.oContentL {
    width: 700px;
    margin-right: 40px;
    float: left;
    position: relative;
}

.oContentR {
    position: relative;
    width: 380px;
    float: left;
    padding: 10px;
    background-color: #f7f7f7;
    min-height: 100%;
}

.nav {
    margin-bottom: 20px;
    font-size: 0;
}

.nav span {
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}

.first {
    background: url("../../images/flight/order1.png") no-repeat;
}

.sub {
    padding-left: 1px;
    background: url("../../images/flight/train2.png") no-repeat;
}

.three {
    padding-left: 2px;
    background: url("../../images/flight/apply3.png") no-repeat;
}

.oTitle {
    font-size: 20px;
    font-weight: bold;
}

.oNumber {
    border-bottom: 1px solid #bbbbbb;
    margin-top: 20px;
    padding-bottom: 5px;
}

.oState {
    padding: 20px 0;
}

.oStateTitle {
    font-size: 18px;
    color: #ec6c23;
    margin-bottom: 20px;
}

.oStateSub {
    font-size: 14px;
    color: #ec6c23;
}

/*.rule>span{*/
/*margin-left: 26px;*/
/*vertical-align: middle;*/
/*}*/
/*.oCount {*/
    /*font-size: 14px;*/
    /*color: #ec6c23;*/
/*}*/

.oProgress {

}

.oProgressItem {
    /*display: inline-block;*/
    float: left;
    width: 170px;
    text-align: center;
}

.oProgressItem > p {
    padding: 4px 0;
    background-color: #f7f7f7;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.oProgressItemActive > p {
    background-color: #46a1bb ;
    color: white;
}

.oProgressItem > span {
    font-size: 12px;
    color: #46a1bb ;
}

/*处理环节*/
/*.handle {*/
    /*border: 1px solid #bbbbbb;*/
    /*padding: 20px 30px;*/
    /*font-size: 12px;*/
    /*line-height: 20px;*/
    /*margin-top: 10px;*/
/*}*/

/*.handleL {*/
    /*float: left;*/
    /*color: #46a1bb ;*/
    /*margin-right: 20px;*/
/*}*/

/*.handleR {*/
    /*float: left;*/
/*}*/

/*.handleRTitle {*/
    /*font-size: 14px;*/
/*}*/

/*.handleRName {*/
    /*color: #9fa0a0;*/
/*}*/

/*.see_more {*/
    /*color: #46a1bb ;*/
    /*cursor: pointer;*/
/*}*/

/*.handleRUl{*/
    /*display: none;*/
/*}*/
/*=============*/





.oItemTitle {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
}

.oItemLi {
    padding-bottom: 20px;
}

.oItemLi > p {
    margin-top: 15px;
}

.oItemLiLabel {
    color: #888888;
    margin-right: 10px;
}

/*右侧内容*/
.content_right {
    float: left;
    background: #f7f7f7;
    padding: 10px;
    width: 400px;
    font-size: 12px;
}

/*右侧第一行*/
.top1 {
    font-size: 0;
}

.right_top {
    /*margin: 20px 10px;*/
}

.Rtop_time {
    display: inline-block;
    font-size: 14px;
    width: 56px;
}

.Rtop_week {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #3E3A39;
    width: 54px;
}

.Rtoop_place {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 170px;
}

.Rtoop_rank {
    float: right;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #3E3A39;
    width: 60px;
}

/*.Rtoop_select {*/
/*display: inline-block;*/
/*font-size: 12px;*/
/*color: #2090c5;*/
/*cursor: pointer;*/
/*}*/

/*右侧第二行*/
.right_top2 {
    margin-top: 30px;
}

.right_top2 span {
    display: inline-block;
}

.start_endP {
    height: 20px;
    margin-bottom: 10px;
}

.start_time {
    float: left;
    width: 120px;
    font-size: 20px;
    /*font-weight: bold;*/
}

.train_name {
    width: 130px;
    text-align: center;
    margin-left: 10px;
    color: #46a1bb ;
}

.end_time {
    float: right;
    width: 120px;
    font-size: 20px;
    text-align: right;
    /*font-weight: bold;*/
}

.station_p {
    height: 20px;
    margin-bottom: 5px;
}

.start_station {
    float: left;
    width: 120px;
}

.end_station {
    float: right;
    width: 120px;
    text-align: right;
}

.over_time {
    width: 90px;
    text-align: center;
}

.Rtop2_line {
    width: 30px;
    height: 1px;
    background-color: #aaaaaa;
    vertical-align: middle;
}

.date_p {
    height: 20px;
    font-size: 12px;
    color: #aaaaaa;
}

.start_date {
    float: left;
}

.end_date {
    float: right;
}

/*退改签及特殊票务说明*/
/*.backmeal_box {*/
/*margin-top: 40px;*/
/*}*/

/*.backmeal_show {*/
/*color: #2D93CA;*/
/*background: url('../../common/images/upBlueLarge.png') no-repeat 380px;*/
/*cursor: pointer;*/
/*}*/

/*.backmeal_line {*/
/*border-top: 1px solid #999999;*/
/*width: 400px;*/
/*margin: 20px 0;*/
/*}*/

/*.backmeal_table {*/
/*border: solid #999999;*/
/*border-width: 1px 0 0 1px;*/
/*width: 400px;*/
/*height: 200px;*/
/*!*font-size: 12px;*!*/
/*}*/

/*.backmeal_table td {*/
/*!*height: 30px;*!*/
/*border: solid #999999;*/
/*border-width: 0 1px 1px 0;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*}*/

/*.backmeal_table th {*/
/*border: solid #999999;*/
/*border-width: 0 1px 1px 0;*/
/*text-align: left;*/
/*vertical-align: middle;*/
/*}*/

/*.backmeal_table span {*/
/*color: red;*/
/*}*/

/*.backmeal_table .last_th {*/
/*padding: 4px;*/
/*vertical-align: top;*/
/*}*/

/*费用明细*/

.detailed_box {
    margin-top: 30px;
}

.expense_detailDiv {
    font-size: 20px;
    margin-bottom: 15px;
}

.ticketPlice_div {
    height: 25px;
}

.ticketPlice_left {
    float: left;
    /*font-weight: 900;*/
}

.ticketPlice_right {
    float: right;
    font-weight: bold !important;
    /*font-weight: 900;*/
    font-size: 18px;
}

.sum_div {
    height: 25px;
}

.sum_left {
    float: left;
}

.sum_right {
    float: right;
}

/*订单总额*/
.totalOrder_div {
    margin-top: 20px;
}

.totalOrder_left {
    float: left;
}

.totalOrder_right {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #e06927;
}

/*!*明细*!*/
/*.detailed_box {*/
/*margin-top: 15px;*/
/*!*width: 380px;*!*/
/*}*/

/*.detailed_show {*/
/*!*font-size: 12px;*!*/
/*cursor: pointer;*/
/*color: #2D93CA;*/
/*background: url('../../common/images/upBlueLarge.png') no-repeat 380px;*/
/*}*/

/*!*.backgroundUp{*!*/
/*!*background: url('../../common/images/upBlueLarge.png') no-repeat 332px;*!*/
/*!*}*!*/

/*!*.backgroundDwon{*!*/
/*!*background: url('../../common/images/downBlueLarge.png') no-repeat 332px;*!*/
/*!*}*!*/

/*.detailed_ul {*/
/*margin-top: 30px;*/
/*}*/

/*.detailed_ul li {*/
/*margin-top: 10px;*/
/*}*/

/*.detailed_ul span {*/
/*float: left;*/
/*}*/

/*.detailed_ul .detailed_spanR {*/
/*float: right;*/
/*}*/

/*.xuxian {*/
/*!*display: inline-block;*!*/
/*float: left;*/
/*!*width: 80%;*!*/
/*!*height: 4px;*!*/
/*border-top: 1px dashed #999999;*/
/*margin-top: 6px;*/


