<div class="navbar-default sidebar" role="navigation">
     <div class="sidebar-nav navbar-collapse">
         <ul class="nav" id="side-menu">
             <li>
                 <a href="admin"><i class="fa fa-dashboard fa-fw"></i> 基础<span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                     <li>
                         <a href="#" data-pjax>主页1</a>
                     </li>
                      <li>
                         <a href="#" data-pjax>主页2</a>
                     </li> 

                 </ul>
                 <!-- /.nav-second-level -->
             </li>
         </ul>
     </div>
     <!-- /.sidebar-collapse -->
 </div>
 

