
	<#--<c:if test="${errorMsg != null}">
           <div id="alertMsg" class="alert alert-danger alert-dismissible fade in" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			  </button>
                 <strong>Error: </strong> ${errorMsg }
           </div>
	</c:if>-->
	<#--头部 导航条-->

	<#--右边的内容-->
	